<div class="modal fade" id="gallery-post-modal">
  <div class="modal-dialog  modal-lg">
    <div class="modal-content"> 
    <div class="modal-body"> 
      <div class="row"></div>
    </div>
    <div class="modal-footer">
    <a href="#" class="btn btn-default modal-close">Cancelar</a>
    </div>
    </div>
  </div>
</div>

<script id="gallery-post-template" type="text/x-handlebars-template">
  <a href="#" class="select thumbnail"> <img src="{{ img_name.url }}" alt=""> </a>
</script>

