<script type="text/x-handlebars-template" id="lawyer-form-institution-template"> 
  <form>
    <div class="row">
        <input type="hidden" name="fields[lawyer_id]" value="{{ lawyer_id }}">
      <div class="form-group col-lg-6">
        <input type="text" name="fields[title]" class="form-control" placeholder="Título" value="{{ title }}">
      </div>

      <div class="form-group col-lg-4">
        <select name="fields[country]" class="form-control">
          {{#if country}}
          <option value="{{ country }}">{{ country }}</option>
          {{else}}
          <option value="">Seleccionar País</option>
          {{/if}}
          <%= render "partials/countries" %>
        </select>
      </div>
    </div>
  </form>
</script>