 <script id="lawyer-show-template" type="text/x-handlebars-template"> 
  <div class="lawyer-header">
    <p>{{ position }}</p>
    <h1>{{ name }} {{ lastname }}</h1>
    <a href="tel:{{ phone }}" class="lawyer-phone">{{ phone }}</a>
    <a href="mailto:{{ email }}" class="lawyer-email">{{ email }}</a>
    <a href="/abogados/{{ id }}/vcard" class="btn btn-primary btn-vcard" target="_new"><%= t('Download')%> </br>VCard</a>
    {{#if img_name.url}}
    <img src="{{img_name.url}}" width="250" class="pull-right">
    {{/if}}
  </div>
  <p class="lawyer-description">{{ description }}</p>
  
</script>

