 <script id="lawyer-template" type="text/x-handlebars-template"> 
  <div class="lawyer-header">
    <p>{{ position }}</p>
    <h1>{{ name }}  {{ lastname }}</h1>
    <a href="tel:{{ phone }}" class="lawyer-phone">{{ phone }}</a>
    <a href="mailto:{{ email }}" class="lawyer-email">{{ email }}</a>
  
    {{#if img_name.url}}
    <img src="{{img_name.url}}" width="250" class="pull-right">
    {{/if}}
  </div>
  <p class="lawyer-description">{{ description }}</p>
  <a href="#" class="btn btn-info open-edit-lawyer">Editar información & áreas</a>
  {{#if translations}}
    <a href="/en/admin/lawyers/{{ translations.id }}/edit" class="btn btn-warning ">Editar Ingles</a>
   {{else}}
      {{#if translation_id }}
        <a href="/admin/lawyers/{{ translation_id }}/edit" class="btn btn-warning ">Editar Español</a>
      {{else}}
        <a href="#" class="btn btn-primary confirm-translate">Crear perfil en inglés</a> 
      {{/if}}
   {{/if}}  
</script>


<div class="modal fade" id="confirm-translate-modal">
  <div class="modal-dialog">
    <div class="modal-content"> 
    <div class="modal-header">
      <h5>Crear perfil en Inglés</h5>
    </div>
    <div class="modal-body"> 
    <p>
        Es recomendable que su perfil en español esté completamente terminado antes de generar el perfil en inglés, pues éste duplicará la información en español para su posterior traducción.
      </p>
      <b >¿Desea continuar?</b>
    </div>
    <div class="modal-footer">
    <a href="#" class="btn btn-default cancel">Cancelar</a>
    <a href="#" class="btn btn-info continue">Aceptar</a>
    </div>
    </div>
  </div>
</div>
