
<div id="lawyers-filters" class="col-lg-10">

  <select class="form-control position">
    <option value="">Tipo de abogado</option>
    <option value="Abogado">Abogado</option>
    <option value="Especialista">Especialista</option>
    <option value="Socio">Socio</option>
    <option value="Senior Counsel">Senior Counsel</option>
  </select>

   <select class="form-control category">
    <option value="">Área</option>
  </select>
<div class="countries">
  <div class="radio-inline">
  <label>
    <input type="radio" name="optionsRadios" class="country" value="Colombia">
    Colombia
  </label>
</div>
  <div class="radio-inline">
  <label>
    <input type="radio" name="optionsRadios" class="country" value="Chile">
    Chile
  </label>
</div>
</div>
<form class="form-group search">
  <input type="text" class="form-control query" placeholder="Buscar">
</form>

</div>
<div class="col-lg-2">
  <a href="#" class="change-lang-page"><%= t('page_lang') %></a>
</div>

<div id="lawyers"></div>
