<div id="lawyers-filters">

  <select class="form-control position">
    <option value="">Seleccionar Tipo</option>
    <option value="Socio">Socio</option>
    <option value="Asociado">Asociado</option>
    <option value="Especialista">Especialista</option>
  </select>

  <select class="form-control position">
    <option value="">Select type</option>
    <option value="partner">partner</option>
    <option value="Associate">Associate</option>
    <option value="Especialist">Especialist</option>
  </select>

  <div class="radio-inline">
  <label>
    <input type="radio" name="optionsRadios" class="country" value="Colombia">
    Colombia
  </label>
</div>
  <div class="radio-inline">
  <label>
    <input type="radio" name="optionsRadios" class="country" value="Chile">
    Chile
  </label>
</div>
<input type="text" class="form-control query" placeholder="Buscar">
</div>

<div id="lawyers"></div>