<select name="" id="lawyers-filter-position" class="form-control">
  <option value="Socio">Socio</option>
  <option value="Asociado">Asociado</option>
  <option value="Especialista">Especialista</option>
</select>

<select name="" id="lawyers-filter-country" class="form-control">
  <option value="Colombia">Colombia</option>
  <option value="Chile">Chile</option>

</select>