<% content_for :head do %>
 <title>Philippi Prietocarrizosa &Uría - Abogados</title>
  <meta name="description" content="Conozca la red de abogados más grande de iberoamércia. Abogados, especialistas y socios se desmpeñas en 13 áreas de práctica.">
  <meta property="og:title" content="Philippi Prietocarrizosa &Uría - Abogados" /> 
  <meta property="og:description" content="Conozca la red de abogados más grande de iberoamércia. Abogados, especialistas y socios se desmpeñas en 13 áreas de práctica." /> 

  <meta property="og:image" content="http://ppulegal.com/img/Logo@2x.png" />

<% end %>

<div id="lawyers"></div>
<%= render "lawyers/partials/lawyers" %>
<%= render "lawyers/partials/filters" %>