<div id="placeholder-lawyers">
	<img src="/img/placeholder-lawyers.png" alt="" class="img-responsive">
	<i class="fa fa-spinner"></i>
	<h5>
		Estamos trabajando para que usted conozca <br>en detalle el equipo de socios y abogados de <br>Philippi Prietocarrizosa & Uría.
	</h5>
	
</div>