<script id="post-admin-template" type="text/x-handlebars-template">
  <td> {{ title }} </td>
  <td>
    <a href="/editar-noticia/{{ id }}" class="btn btn-primary edit">Editar</a>
    <a href="/en/editar-noticia/{{ id }}" class="btn btn-primary translate">Traducir</a>
  </td>
</script>
