<script id="post-admin-template" type="text/x-handlebars-template">
  <td> {{ title }} </td>
  <td>
    <a href="/admin/posts/{{ id }}/edit" class="btn btn-primary edit">Editar</a>
    {{#if translations}}
    	<a href="/en/admin/posts/{{ translations.id }}/edit" class="btn btn-primary translate">Traducir</a>
    {{else}}
    <a href="/en/admin/posts/{{ id }}/edit" class="btn btn-primary translate">Traducir</a>
    {{/if}}
  </td>
</script>
