<script type="text/x-handlebars-template" id="lawyer-recognition-template">
<td>{{ title }}</td>
<td>{{ country }}</td>
<td>{{ year }}</td>
<td>
  <a href="#" class="btn btn-warning btn-xs open-edit" >editar</a> 
  <a href="#" class="btn btn-danger btn-xs remove" >eliminar</a>
</td>
</script>

