<script id="lawyer-related-template" type="text/x-handlebars-template">
{{#each []}}
<div class="col-md-12 lawyer-item">
  <div class="content">
	  <span class="position">{{ position }}</span>
	  <h3><a href="/abogados/{{ slug }}">{{toUpperCase name }} {{toUpperCase lastname }}</a></h3>
    <span class="country">{{ country }}</span>
	  <a href="tel:{{ phone }}" class="phone">{{ phone }}</a>
	  <a href="mailto:{{ email }}" class="email">{{ email }}</a>
  </div>
 </div>
{{/each}}
</script>




