@import variables

#experiences

.experience-item
	height: 155px
	margin-bottom: 15px
	overflow: hidden

	+order-items

	.img-container
		width: 155px
		float: left
		overflow: hidden
		margin-right: 15px
		min-height: 100%
		img
			width: 100%
		@media #{$mobile}
			display: none
			
	.content
		background: #fff
		padding: 15px
		height: 155px
		
		h3
			font-size: .9em
			padding-right: 15px
			line-height: 1.4em 
			font-weight: bold
			margin: 15px 0 15px 15px
			@media #{$mobile}
				margin: 0 0 15px 0
			a
				color: $color-darkBlue
		p
			color: $color-gray
			font-size: 0.9em
			line-height: 150%
			padding: 0 15px 0 0

		.country
			font-size: 0.8em
			font-style: italic
			color: #7F7F7F
			margin-right: 10px
			i
				padding-right: 3px

		.date
			font-size: 0.8em
			color: $color-gray
			font-style: italic
			i
				padding-right: 3px

		.share
			font-size: 0.8em
			float: right
			padding-right: 15px
			color: $color-darkBlue
			i
				padding-right: 3px

.experience-header
	background: $color-darkBlue
	color: #fff
	float: left
	width: 100%
	margin-bottom: 30px
	padding-left: 30px
	@media #{$mobile}
		padding-left: 15px
		padding-bottom: 15px
	
	.year
		margin: 15px 0 7px 0
		display: block
		font-weight: 200

	img
		float: right
		height: 150px
		margin-left: 30px
		
	h1
		padding: 0 60px 15px 0
		margin: 0
		font-size: 1.4em
		font-weight: 400
		@media #{$mobile}
			font-size: 1em
			padding: 7px 0px

	.company-name
		font-size: 1.2em
		display: block
		@media #{$mobile}
			font-size: .8em

	.company-web
		font-size: .9em
		display: block
		color: #00A1B1
		a
			color: #00A1B1
		@media #{$mobile}
			font-size: .8em


.content
	background: #fff
	padding: 30px
	color: $color-gray
	font-size: 1em
	line-height: 1.7em


