@import variables

#experiences

.experience-item
	height: 155px
	margin-bottom: 15px
	overflow: hidden

	&:first-child
		padding-left: 0

	&:first-child, &:nth-child(2n+3)
		padding-left: 0
		padding-right: 7px

	&:nth-child(2n+2)
		padding-right: 0
		padding-left: 7px

	.img-container
		width: 155px
		float: left
		overflow: hidden
		margin-right: 15px
		min-height: 100%
		img
			width: 100%
			
	.content
		background: #fff
		padding: 7px
		height: 155px
		
		h3
			font-size: .9em
			padding-right: 15px
			line-height: 1.4em 
			font-weight: bold
			margin: 15px 0 15px 15px
			a
				color: $color-darkBlue
		p
			color: $color-gray
			font-size: 0.9em
			line-height: 150%
			padding: 0 15px 0 0

		.date
			font-size: 0.8em
			color: $color-gray
			font-style: italic

		.share
			font-size: 0.8em
			float: right
			padding-right: 15px
			color: $color-darkBlue
			i
				padding-left: 5px

.experience-header
	background: $color-darkBlue
	color: #fff
	float: left
	width: 100%
	margin-bottom: 30px
	padding-left: 30px
	
	.year
		margin: 15px 0 7px 0
		display: block
		font-weight: 200

	img
		float: right
		height: 150px
		margin-left: 30px
		
	h1
		padding: 0 60px 15px 0
		margin: 0
		font-size: 1.4em
		font-weight: 400

	.company-name
		font-size: 1.2em
		display: block

	.company-web
		font-size: .9em
		display: block
		color: #00A1B1


.content
	background: #fff
	padding: 30px
	color: $color-gray
	font-size: 1em
	line-height: 1.7em


