@import variables

.navbar-app
	background: #fff
	img
		max-width: 100%
		@media #{$mobile}
			max-width: 100%
	
	.navbar-brand
		width: 28%
		display: block
		height: auto
		padding: 0 15px !important

		@media #{$mobile}
			width: 40%

		@media #{$mobile-xs}
			width: 55%

	.navbar-header 
		margin: 0
		float: none
		background: url("../img/linea-tablet@2x.png") no-repeat top left
		background-size: contain

		@media #{$mobile}
			background-size: 100%

		@media #{$mobile-xs}
			background-size: 150%

	.navbar-collapse
		margin-left: 0
		width: 100%

.navbar-toggle
	background: #fff
	border: none
	float: right
	color: #002855
	font-size: 1.4em
	margin: 60px

	@media #{$tablet}
		margin: 40px

	@media #{$mobile}
		margin: 20px
		font-size: 1.1em
	i
		padding: 15px 0 0 15px
		font-size: 1.5em

.navbar-collapse
	background: #002855
