@import variables

#posts-featured
	margin-bottom: 15px

.post-main-featured-item
	padding-left: 0
	padding-right: 7px

	.img-container
		height: 160px
		overflow: hidden
		img
			margin-top: -75px

	.content
		padding: 20px
		background: #fff
		color: $color-gray
		height: 165px
		h3
			font-size: 1.1em
			margin: 0
			font-weight: bold
			
			a
				color: $color-gray
				font-size: 1.1em
				line-height: 150%
				
		p
			color: $color-gray
			font-size: 0.9em
			line-height: 170%
			margin: 10px 0 10px 0

		.date
			font-size: 0.8em
			font-style: italic
		.share
			font-size: 0.9em
			float: right

.post-featured-item
	height: 155px
	margin-bottom: 15px
	overflow: hidden

	&:first-child
		padding-left: 0
	&:first-child, &:nth-child(2n+3)
		padding-left: 0

	&:nth-child(2), &:nth-child(3)
		padding-left: 7px
		padding-right: 0

	&:nth-child(2n+2)
		padding-right: 0

	.img-container
		width: 155px
		float: left
		overflow: hidden
		margin-right: 15px
		img
			margin: 0 auto
			width: 280px
			
	.content
		background: #fff
		padding: 15px
		height: 155px
		
		h3
			font-size: 1.1em
			padding-right: 7px
			line-height: 1.4em 
			font-weight: bold
			margin: 7px 0 7px 0
			a
				color: $color-gray
		p
			color: $color-gray
			font-size: 0.9em
			line-height: 170%
			margin: 10px 0 10px 0
			color: #7F7F7F

		.date
			font-size: 0.8em
			color: $color-gray

		.share
			font-size: 0.8em
			float: right
			padding-right: 15px


.post-item
	height: 155px
	margin-bottom: 15px
	overflow: hidden
	&:first-child
		padding-left: 0

	&:first-child, &:nth-child(2n+3)
		padding-left: 0
		padding-right: 7px

	&:nth-child(2n+2)
		padding-right: 0
		padding-left: 7px

	.img-container
		width: 155px
		float: left
		overflow: hidden
		margin-right: 20px
		img
			margin: 0 auto
			width: 280px
			
	.content
		background: #fff
		padding: 15px 20px 20px 20px
		height: 155px
		
		h3
			font-size: 1.1em
			padding-right: 7px
			line-height: 1.4em 
			font-weight: bold
			margin: 0 0 5px 0
			a
				color: $color-gray
		p
			color: $color-gray
			font-size: 0.9em
			line-height: 150%
			padding: 0
			margin: 0
			color: #7F7F7F

		.date
			font-size: 0.8em
			color: $color-gray
			font-style: italic

		.share
			font-size: 0.8em
			float: right
			padding-right: 15px

.post-header
	background: $color-darkBlue
	color: #fff
	float: left
	width: 100%
	margin-bottom: 30px
	padding-right: 30px

	img
		float: left
		height: 150px
		margin-right: 30px
		
	h1
		padding: 30px 0 30px 30px
		margin: 0
		font-size: 1.4em
		line-height: 1.5em
		font-weight: 200

	.share
		color: #fff
		font-size: 0.9em
		float: right

.content
	background: #fff
	padding: 30px
	color: $color-gray
	font-size: 1em
	line-height: 1.7em


