@import variables

#posts
	margin-top: 5px

.post-main-featured-item
	padding-left: 0

	.img-container
		height: 160px
		overflow: hidden
		img
			margin-top: -75px

	.content
		padding: 20px
		background: #fff
		color: $color-gray
		h3
			font-size: 1.1em
			margin: 0
			a
				color: $color-gray
		p
			color: $color-gray
			font-size: 0.9em
			margin: 15px 0 15px 0

		.date
			font-size: 0.8em
		.share
			font-size: 0.9em
			float: right


.post-item
	height: 155px
	margin-bottom: 15px
	overflow: hidden
	&:first-child
		padding-left: 0
	&:nth-child(2), &:nth-child(3) 
		padding: 0

	.img-container
		width: 155px
		float: left
		overflow: hidden
		margin-right: 15px
			
	.content
		background: #fff
		padding: 7px
		height: 155px
		
		h3
			font-size: 1.1em
			a
				color: $color-gray
		p
			color: $color-gray
			font-size: 0.9em
			padding: 0 15px 0 0

		.date
			font-size: 0.8em
			color: $color-gray

		.share
			font-size: 0.8em
			float: right
			padding-right: 15px


