@import variables
#pro-bono

	h2
		font-size: 1.5em
		color: $color-darkBlue
		margin-bottom: 30px
	p
		font-weight: 200

#carousel-probono-foundations
	margin-top: 60px
	ul
		padding-left: 80px
		li
			display: inline-block
			width: 22%
			img
				width: 150px
				margin: 0 auto
				display: block