body
  background: #E4E6EB
  font-size: 14px
  padding: 0 0 30px 0

.modal-backdrop
  background: #002855
  &.in
    opacity: .9 !important
.modal-content
  background: #EEE
  
ul
  padding: 0
.form-control
  box-shadow: none
  border: 2px solid #ddd
  text-indent: 3px
  height: 42px
  &:focus
    border: 2px solid #ccc
    box-shadow: none
  
.btn
  border: none
.btn-store
  background: #002855
  color: #fff
.btn-inverse
  background: #34495e
  color: #fff
.btn-info
  background: #3498db
  color: #fff

.panel-default
  background: #f8f8f8

  .panel-body
    color: #5F5F5F

    .btn-info 
      background: #00A1B1

.navbar-default
  background: #002855
  color: #fff

  .navbar-brand
    color: #fff

  .navbar-nav
    &>.active
      &>a
        background: #00A1B1
        color: #fff

#nav-main
  position: fixed
  height: 500px
  width: 200px
  color: #fff
  background: #002855
  margin-left: 30px
  margin-top: 60px

.lawyer-list
  background: #fff
  width: 48%
  position: relative
  box-sizing: border-box
  overflow: hidden
  float: left
  margin: 1%
  .phone, .email
    color: #00A1B1
    display: block
    width: 100%
  img
    float: left
    width: 150px
    height: 170px
    margin: 0
    padding: 0
    overflow: hidden
    position: relative
    margin-right: 15px

#lawyers-filters
  background: #002855
  height: 50px
  select, input
    width: 25%
    float: left
  .radio-inline
    color: #fff

#lawyer-finish
  background: #fff
  padding: 0
  border: none
  .panel-body
    padding: 0 0 30px 0
  .btn-info 
    background: #002855
  .lawyer-award
    width: 100%
    float: left
    img
      float: left
    h5
      display: block
      float: left
      padding: 15px
  li
    list-style-position: inside
    margin-bottom: 15px

  h4
    margin-top: 30px
    margin-bottom: 30px

  .lawyer-description
    text-align: left
    padding: 15px

  .lawyer-header
    background: #002855
    padding: 30px
    position: relative
    overflow: hidden
    color: #fff


    h1
      font-size: 1.4em
      margin-top: 0
      margin-bottom: 30px

    p
      margin: 0
      font-size: 1.1em

    .lawyer-phone, .lawyer-email
      color: #00A1B1
      font-size: 1.1em
      display: block
      width: 100%

    .lawyer-email
      font-size: 1em
      margin-bottom: 15px

    img
      position: absolute
      top: 0
      right: 0 
      -webkit-filter: grayscale(100%)
      -moz-filter: grayscale(100%)
      filter: grayscale(100%)

.form-control
  &.error
    border-color: red !important
  &:focus 
    border-color: #dddddd !important
