<script id="post-detail-template" type="text/x-handlebars-template">
<div class="post-header">
{{#if gallery}}
  <img src="{{ gallery.img_name.url }}" alt="{{ title }}" class="hidden-xs">
  {{else}}
   <img src="{{ img_name.url }}" alt="{{ title }}" class="hidden-xs">
 {{/if}}

	<h1>{{ title }}</h1>
	<div class="categories">
		{{#each categories }}
		<span>{{ name }}</span>
		{{/each}}
	</div>
	<a href="#" class="share"><%= t("share") %>  <i class="fa fa-share-alt"></i></a>
</div>
<div class="content">
{{ country }} - {{ date }}

{{{ content }}}
</div>
</script>

	
<script id="post-detail-title" type="text/x-handlebars-template">
	<h1><a href="/"><%= t("News") %></a></h1>
</script>
