<script id="the-actual-post-template" type="text/x-handlebars-template">
<a href="/el-actual/{{ slug }}">
  <div class="item-container">
    <div class="thumb imgLiquidFill">
   {{#if gallery}}
    <img  src="{{ gallery.img_name.url }}" alt="{{ title }}" >
    {{else}}
     <img  src="{{ img_name.url }}" alt="{{ title }}" >
   {{/if}}
  </div>

    <div class="content">

      <div class="share-hover">
        <a href="/el-actual/{{slug}}"><h3><%= t('read_new') %> +</h3></a>
        <h4><%= t('share') %>  <i class="fa fa-share-alt"></i></h4>

        <a class="share" href="https://twitter.com/intent/tweet?text={{ title }}&url=http://ppulegal.com/el-actual/{{ slug }}"><i class="fa fa-twitter-square"></i></a>

        <a class="share" href="http://www.linkedin.com/shareArticle?mini=true&url=http://ppulegal.com/el-actual/{{ slug }}" onclick="javascript:window.open(this.href,
          '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" ><i class="fa fa-linkedin-square"></i></a>

    <a class="share" href="https://plus.google.com/share?url=http://ppulegal.com/el-actual/{{ slug }}" onclick="javascript:window.open(this.href,
  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
    <i class="fa fa-google-plus-square"></i>
  </a>
  <a class="share" href="#" onclick="javascript:openShare('http://ppulegal.com/el-actual/{{ slug }}')"><i class="fa fa-facebook-square"></i></a>

</div>

      <h3><a href="/el-actual/{{ slug }}">{{ title }}</a></h3>
      <p>{{shortenText2 excerpt }}</p>
        <div class="footer">
          <span class="country"><i class="fa fa-globe"></i> {{ country }}</span>
          <span class="date"><i class="fa fa-calendar-o"></i> {{dateFormat date format="DD - MM -YYYY"}}</span>
        </div>
    </div>
  </div>
  </a>
</script>

<script id="the-actual-featured-template" type="text/x-handlebars-template">
<div class="img-container">
 {{#if gallery}}
  <img src="{{ gallery.img_name.url }}" alt="{{ title }}" class="img-responsive">
  {{else}}
   <img src="{{ img_name.url }}" alt="{{ title }}" class="img-responsive">
 {{/if}}
</div>

  <div class="content">
    <h3><a href="posts/{{ slug }}">{{ title }}</a></h3>
  </div>
  
</script>


  

