/* Large desktops and laptops */
/* Portrait tablets and medium desktops */
/* Portrait tablets and small desktops */
/* Landscape phones and portrait tablets */
/* Landscape phones and smaller */
.panel-heading h5 {
  color: #002855;
  font-weight: bold; }

#lawyer-create .panel-heading h5 {
  color: #002855;
  font-weight: bold; }
#lawyer-create hr {
  margin: 5px 0 10px 0; }
#lawyer-create label {
  font-size: 0.9em; }

.modal-header h5 {
  font-weight: bold;
  color: #002855; }

.modal-content {
  background: #f8f8f8 !important;
  border-radius: 0; }
  .modal-content .modal-header {
    background: #f5f5f5;
    border-radius: 0; }
  .modal-content .modal-body {
    border-radius: 0; }

#placeholder-lawyers {
  position: relative; }
  #placeholder-lawyers img {
    position: absolute;
    z-index: 1; }
  #placeholder-lawyers h5 {
    position: absolute;
    padding: 150px 80px;
    line-height: 1.7em;
    font-size: 2.5em;
    color: #fff;
    z-index: 2;
    font-weight: 200;
    font-family: "TheMix"; }
  #placeholder-lawyers i {
    display: block;
    position: absolute;
    top: 60px;
    z-index: 2;
    font-size: 6em;
    padding: 0 0 0 80px;
    margin-bottom: 30px;
    color: #fff; }

.lawyer-item {
  overflow: hidden;
  font-size: 1em;
  margin-bottom: 15px;
  height: 150px; }
  .lawyer-item img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale"); }
  .lawyer-item .content {
    padding: 30px 0 0 0;
    background: #fff;
    min-height: 150px; }
    .lawyer-item .content .position {
      color: #5F5F5F; }
    .lawyer-item .content h3 {
      margin: 0;
      font-size: 1em; }
      .lawyer-item .content h3 a {
        color: #5F5F5F;
        font-weight: bold; }
  .lawyer-item:first-child, .lawyer-item:nth-child(2n+3) {
    padding-left: 0;
    padding-right: 7px; }
  .lawyer-item:nth-child(2n+2) {
    padding-right: 0;
    padding-left: 7px; }
  .lawyer-item .phone, .lawyer-item .email {
    color: #00A1B1;
    display: block;
    width: 100%; }
  .lawyer-item .phone {
    font-weight: bold; }
  .lawyer-item img {
    float: left;
    width: 150px;
    height: 150px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    margin-right: 15px; }

#lawyer {
  margin: 0;
  padding: 0 0 15px 0;
  background: #fff;
  color: #5F5F5F; }
  #lawyer .row {
    padding-bottom: 30px; }
  #lawyer h3 {
    font-size: 1.5em;
    font-weight: 400;
    padding: 0 30px;
    color: #002855; }
    #lawyer h3 i {
      padding: 0 15px 0 0; }
  #lawyer .lawyer-left {
    border-right: 1px solid #ddd; }
  #lawyer .lawyer-right h3 {
    padding: 0;
    margin-bottom: 30px; }
  #lawyer .lawyer-header {
    background: #002855;
    position: relative;
    overflow: hidden;
    color: #fff;
    width: 100%;
    height: 170px; }
    @media (max-width: 480px) {
      #lawyer .lawyer-header {
        height: auto; } }
    #lawyer .lawyer-header .content-left {
      float: left;
      padding: 30px; }
    #lawyer .lawyer-header .content-right {
      width: 50%;
      float: right; }
    #lawyer .lawyer-header .share-container {
      float: right;
      width: 150px;
      padding: 60px 0 0 0; }
      #lawyer .lawyer-header .share-container a {
        float: right;
        margin-right: 30px;
        margin-bottom: 15px; }
    #lawyer .lawyer-header img {
      width: 180px;
      float: right;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale"); }
    #lawyer .lawyer-header .btn-vcard {
      font-size: 0.9em;
      font-weight: bold;
      width: 120px; }
    #lawyer .lawyer-header .share {
      color: #fff;
      float: right;
      display: block;
      font-size: 1.1em; }
      #lawyer .lawyer-header .share i {
        padding-left: 5px; }
  #lawyer p {
    margin: 0; }
  #lawyer h1 {
    font-size: 1.2em;
    margin: 0 0 15px 0; }
  #lawyer .lawyer-phone {
    width: 100%;
    display: block;
    color: #00A1B1;
    font-weight: bold; }
  #lawyer .lawyer-email {
    color: #00A1B1; }
  #lawyer ul {
    padding-left: 45px; }
  #lawyer h4 {
    padding-left: 30px;
    font-size: 1.1em; }
  #lawyer li {
    font-size: 0.9em;
    margin-bottom: 15px; }
  #lawyer h4 {
    margin-top: 30px;
    margin-bottom: 30px; }
  #lawyer .lawyer-description {
    text-align: left;
    padding: 30px; }
    #lawyer .lawyer-description h1 {
      font-size: 1.4em;
      margin-top: 0;
      margin-bottom: 30px; }
    #lawyer .lawyer-description p {
      margin: 0;
      font-size: 1.1em; }
    #lawyer .lawyer-description .lawyer-phone, #lawyer .lawyer-description .lawyer-email {
      color: #00A1B1;
      font-size: 1.1em;
      display: block;
      width: 100%; }
    #lawyer .lawyer-description .lawyer-email {
      font-size: 1em;
      margin-bottom: 15px; }
  #lawyer .phrase {
    padding: 0 30px 0 30px;
    text-align: center;
    color: #002855; }
    #lawyer .phrase p {
      font-size: 1em;
      font-style: italic; }
    #lawyer .phrase h5 {
      font-size: 0.9em; }
  #lawyer .separator {
    padding: 0 90px; }
  #lawyer .lawyer-right {
    padding: 0 30px; }
  #lawyer .award h5 {
    font-size: 1em;
    margin-bottom: 15px; }
  #lawyer .article-container a, #lawyer .article-container p {
    font-size: 0.9em;
    float: left;
    margin-bottom: 15px; }

/*# sourceMappingURL=lawyer.css.map */
