/* Large desktops and laptops */
/* Portrait tablets and medium desktops */
/* Portrait tablets and small desktops */
/* Landscape phones and portrait tablets */
/* Landscape phones and smaller */
#posts-featured {
  margin-bottom: 15px; }

.post-main-featured-item {
  padding-left: 0;
  padding-right: 7px; }
  .post-main-featured-item .img-container {
    height: 160px;
    overflow: hidden; }
    .post-main-featured-item .img-container img {
      margin-top: -75px; }
  .post-main-featured-item .content {
    padding: 20px;
    background: #fff;
    color: #5F5F5F;
    height: 165px; }
    .post-main-featured-item .content h3 {
      font-size: 1.1em;
      margin: 0;
      font-weight: bold; }
      .post-main-featured-item .content h3 a {
        color: #5F5F5F;
        font-size: 1.1em;
        line-height: 150%; }
    .post-main-featured-item .content p {
      color: #5F5F5F;
      font-size: 0.9em;
      line-height: 170%;
      margin: 10px 0 10px 0; }
    .post-main-featured-item .content .date {
      font-size: 0.8em;
      font-style: italic; }
    .post-main-featured-item .content .share {
      font-size: 0.9em;
      float: right; }

.post-featured-item {
  height: 155px;
  margin-bottom: 15px;
  overflow: hidden; }
  .post-featured-item:first-child {
    padding-left: 0; }
  .post-featured-item:first-child, .post-featured-item:nth-child(2n+3) {
    padding-left: 0; }
  .post-featured-item:nth-child(2), .post-featured-item:nth-child(3) {
    padding-left: 7px;
    padding-right: 0; }
  .post-featured-item:nth-child(2n+2) {
    padding-right: 0; }
  .post-featured-item .img-container {
    width: 155px;
    float: left;
    overflow: hidden;
    margin-right: 15px; }
    .post-featured-item .img-container img {
      margin: 0 auto;
      width: 280px; }
  .post-featured-item .content {
    background: #fff;
    padding: 15px;
    height: 155px; }
    .post-featured-item .content h3 {
      font-size: 1.1em;
      padding-right: 7px;
      line-height: 1.4em;
      font-weight: bold;
      margin: 7px 0 7px 0; }
      .post-featured-item .content h3 a {
        color: #5F5F5F; }
    .post-featured-item .content p {
      color: #5F5F5F;
      font-size: 0.9em;
      line-height: 170%;
      margin: 10px 0 10px 0;
      color: #7F7F7F; }
    .post-featured-item .content .date {
      font-size: 0.8em;
      color: #5F5F5F; }
    .post-featured-item .content .share {
      font-size: 0.8em;
      float: right;
      padding-right: 15px; }

.post-item {
  height: 155px;
  margin-bottom: 15px;
  overflow: hidden; }
  .post-item:first-child {
    padding-left: 0; }
  .post-item:first-child, .post-item:nth-child(2n+3) {
    padding-left: 0;
    padding-right: 7px; }
  .post-item:nth-child(2n+2) {
    padding-right: 0;
    padding-left: 7px; }
  .post-item .img-container {
    width: 155px;
    float: left;
    overflow: hidden;
    margin-right: 20px; }
    .post-item .img-container img {
      margin: 0 auto;
      width: 280px; }
  .post-item .content {
    background: #fff;
    padding: 15px 20px 20px 20px;
    height: 155px; }
    .post-item .content h3 {
      font-size: 1.1em;
      padding-right: 7px;
      line-height: 1.4em;
      font-weight: bold;
      margin: 0 0 5px 0; }
      .post-item .content h3 a {
        color: #5F5F5F; }
    .post-item .content p {
      color: #5F5F5F;
      font-size: 0.9em;
      line-height: 150%;
      padding: 0;
      margin: 0;
      color: #7F7F7F; }
    .post-item .content .date {
      font-size: 0.8em;
      color: #5F5F5F;
      font-style: italic; }
    .post-item .content .share {
      font-size: 0.8em;
      float: right;
      padding-right: 15px; }

.post-header {
  background: #002855;
  color: #fff;
  float: left;
  width: 100%;
  margin-bottom: 30px;
  padding-right: 30px; }
  .post-header img {
    float: left;
    height: 150px;
    margin-right: 30px; }
  .post-header h1 {
    padding: 30px 0 30px 30px;
    margin: 0;
    font-size: 1.4em;
    line-height: 1.5em;
    font-weight: 200; }
  .post-header .share {
    color: #fff;
    font-size: 0.9em;
    float: right; }

.content {
  background: #fff;
  padding: 30px;
  color: #5F5F5F;
  font-size: 1em;
  line-height: 1.7em; }

/*# sourceMappingURL=post.css.map */
