@charset "UTF-8";
/* Large desktops and laptops */
/* Portrait tablets and medium desktops */
/* Portrait tablets and small desktops */
/* Landscape phones and portrait tablets */
/* Landscape phones and smaller */
body {
  background: #E4E6EB;
  font-size: 14px;
  padding: 0 0 30px 0;
  font-family: "Lato", sans-serif;
  font-weight: normal;
  padding-top: 30px; }
  @media (min-width: 768px) and (max-width: 991px) {
    body {
      font-size: 12px; } }

.app-container {
  padding-bottom: 70px; }

#yield-container {
  margin-top: 65px; }

.change-lang-container {
  padding-left: 0; }

#change-lang {
  z-index: 1;
  background: #00A1B1;
  height: 50px;
  padding: 15px 0 0 15px; }
  #change-lang a {
    color: #fff; }

.policy {
  float: right;
  text-align: right; }

.modal-backdrop {
  background: #002855; }
  .modal-backdrop.in {
    opacity: 0.9 !important; }

.modal-content {
  background: #EEE; }

.modal-lg {
  width: 900px !important; }

ul {
  padding: 0; }

.form-control {
  box-shadow: none;
  border: 2px solid #ddd;
  text-indent: 3px;
  height: 42px; }
  .form-control:focus {
    border: 2px solid #ccc;
    box-shadow: none; }

.btn {
  border: none; }

.btn-xl {
  height: 42px;
  padding: 11px 15px;
  font-size: 1em; }

.btn-store {
  background: #002855;
  color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  border: 1px solid transparent; }
  .btn-store:hover {
    color: #00A1B1; }

.btn-inverse {
  background: #34495e;
  color: #fff; }

.btn-info {
  background: #3498db;
  color: #fff; }

.panel-default {
  background: #f8f8f8; }
  .panel-default .panel-body {
    color: #5F5F5F; }
    .panel-default .panel-body .btn-info {
      background: #00A1B1; }
      .panel-default .panel-body .btn-info:hover {
        background: #002855;
        color: #00A1B1; }

.navbar-default {
  background: #002855;
  color: #fff; }
  .navbar-default .navbar-brand {
    color: #fff; }
  .navbar-default .navbar-nav > li > a {
    color: #fff; }
    .navbar-default .navbar-nav > li > a:hover {
      color: #00a1b1; }
  .navbar-default .navbar-nav > .active > a {
    background: #00A1B1;
    color: #fff; }

#nav-main-container {
  position: relative; }

.nav-main {
  position: fixed;
  color: #fff;
  background: #002855;
  width: 180px;
  padding: 0;
  margin: 0; }
  .nav-main li {
    list-style: none;
    padding: 0 30px 25px 30px; }
    .nav-main li:nth-child(2) {
      padding-top: 15px !important; }
    .nav-main li a {
      color: #fff;
      font-size: 14px;
      font-weight: 300; }
  .nav-main .link-main {
    background: #fff;
    display: block;
    padding: 0;
    margin-bottom: 15px; }

.top-bar-container {
  padding: 0 !important;
  margin-bottom: 15px;
  height: 50px;
  z-index: 1;
  position: fixed; }
  @media (min-width: 1200px) {
    .top-bar-container {
      padding: 0 15px 0 0 !important; } }

.to-top {
  top: 0; }

#top-bar {
  background: #002855;
  padding-left: 15px;
  height: auto; }
  @media (min-width: 1200px) {
    #top-bar {
      height: 50px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    #top-bar {
      height: 50px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    #top-bar {
      height: 50px; } }
  #top-bar h1 {
    font-size: 1.3em;
    color: #00A1B1;
    float: left;
    font-weight: 400;
    padding: 15px 15px 0 0;
    margin: 0; }
    @media (min-width: 1200px), (min-width: 992px) and (max-width: 1199px) {
      #top-bar h1 {
        padding-right: 30px; } }
  #top-bar select, #top-bar input {
    background: #002855;
    color: #fff;
    border: none;
    padding-top: 15px;
    font-weight: 400;
    font-size: 0.9em;
    padding-right: 20px; }
  #top-bar select::-ms-expand {
    display: none; }
  #top-bar .checkbox-inline {
    color: #fff;
    padding-left: 30px;
    font-weight: 400;
    font-size: 0.9em; }
  #top-bar .position {
    float: right;
    position: relative; }
    #top-bar .position:before {
      font-family: "FontAwesome";
      content: "";
      position: absolute;
      top: 15px;
      color: #fff;
      right: 15px;
      font-weight: normal; }
  #top-bar .category {
    float: right;
    height: 50px;
    border-left: 1px solid #fff;
    position: relative;
    padding-right: 20px; }
    #top-bar .category:before {
      font-family: "FontAwesome";
      content: "";
      position: absolute;
      top: 15px;
      color: #fff;
      right: 15px;
      font-weight: normal; }
  #top-bar .countries {
    float: right;
    height: 50px;
    padding: 15px 0 0 15px;
    border-left: 1px solid #fff; }
  #top-bar .search {
    height: 50px;
    float: right;
    position: relative;
    border-left: 1px solid #fff; }
    #top-bar .search:before {
      font-family: "FontAwesome";
      content: "";
      position: absolute;
      top: 15px;
      color: #fff;
      right: 15px;
      font-weight: normal; }
    #top-bar .search input {
      width: 100%; }
  #top-bar select {
    padding: 10px 20px 0 0;
    -webkit-appearance: none;
    -moz-appearance: window;
    appearance: none;
    display: block;
    outline: none;
    cursor: pointer;
    text-indent: 0.01px;
    text-overflow: ""; }

.footer-container {
  padding: 0 !important;
  height: 70px;
  z-index: 1;
  position: fixed;
  bottom: 0; }
  @media (min-width: 1200px) {
    .footer-container {
      padding: 0 15px 0 0 !important; } }

#footer {
  height: 70px;
  background: #002855;
  padding-left: 15px;
  height: 70px;
  padding: 15px; }
  #footer a {
    color: #fff; }

#lawyer-finish {
  background: #fff;
  padding: 0;
  border: none;
  color: #5F5F5F;
  padding-bottom: 30px; }
  #lawyer-finish .open-edit-lawyer {
    margin: 0 0 0 15px; }
  #lawyer-finish .panel-body {
    padding: 0 0 30px 0; }
  #lawyer-finish .btn-info {
    background: #002855; }
  #lawyer-finish .lawyer-award {
    width: 100%;
    float: left; }
    #lawyer-finish .lawyer-award img {
      float: left; }
    #lawyer-finish .lawyer-award h5 {
      display: block;
      float: left;
      padding: 15px; }
  #lawyer-finish li {
    list-style-position: inside;
    margin-bottom: 15px; }
  #lawyer-finish h4 {
    margin-top: 30px;
    margin-bottom: 30px; }
  #lawyer-finish .lawyer-description {
    text-align: left;
    padding: 15px; }
  #lawyer-finish .lawyer-header {
    background: #002855;
    padding: 30px;
    position: relative;
    overflow: hidden;
    color: #fff; }
    #lawyer-finish .lawyer-header h1 {
      font-size: 1.4em;
      margin-top: 0;
      margin-bottom: 30px; }
    #lawyer-finish .lawyer-header p {
      margin: 0;
      font-size: 1.1em; }
    #lawyer-finish .lawyer-header .lawyer-phone, #lawyer-finish .lawyer-header .lawyer-email {
      color: #00A1B1;
      font-size: 1.1em;
      display: block;
      width: 100%; }
    #lawyer-finish .lawyer-header .lawyer-email {
      font-size: 1em;
      margin-bottom: 15px; }
    #lawyer-finish .lawyer-header img {
      position: absolute;
      top: 0;
      right: 0;
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      filter: grayscale(100%); }

#lawyer-award-edit li {
  list-style: none; }

.form-control.error {
  border-color: red !important; }
.form-control:focus {
  border-color: #dddddd !important; }

.error-message {
  width: 100%;
  background: red;
  color: #fff;
  padding: 5px 15px;
  font-size: 0.9em;
  margin-top: -5px; }

.relationship-title {
  width: 100%;
  text-align: center;
  background: #fff; }
  .relationship-title h3 {
    padding: 15px;
    font-size: 1.2em;
    color: #002855;
    margin: 15px; }

.lawyers-associated {
  padding: 0; }

.navbar-app {
  background: #fff; }
  .navbar-app img {
    width: 20%; }

.navbar-toggle {
  background: #fff;
  border: none;
  float: right;
  color: #002855;
  font-size: 1.4em;
  margin: 60px; }
  .navbar-toggle i {
    padding: 15px 0 0 15px;
    font-size: 1.5em; }

.navbar-collapse {
  background: #002855; }

/* Large desktops and laptops */
/* Portrait tablets and medium desktops */
/* Portrait tablets and small desktops */
/* Landscape phones and portrait tablets */
/* Landscape phones and smaller */
.lawyer-item {
  overflow: hidden;
  font-size: 1em;
  margin-bottom: 15px; }
  .lawyer-item img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%); }
  .lawyer-item .content {
    padding: 30px 0 0 0;
    background: #fff;
    min-height: 150px; }
    .lawyer-item .content .position {
      color: #5F5F5F; }
    .lawyer-item .content h3 {
      margin: 0 0 15px 0;
      font-size: 1em; }
      .lawyer-item .content h3 a {
        color: #5F5F5F;
        font-weight: bold; }
  .lawyer-item:first-child, .lawyer-item:nth-child(2n+3) {
    padding-left: 0;
    padding-right: 7px; }
  .lawyer-item:nth-child(2n+2) {
    padding-right: 0;
    padding-left: 7px; }
  .lawyer-item .phone, .lawyer-item .email {
    color: #00A1B1;
    display: block;
    width: 100%; }
  .lawyer-item .phone {
    font-weight: bold; }
  .lawyer-item img {
    float: left;
    width: 150px;
    height: 150px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    margin-right: 15px; }

#lawyer {
  margin: 15px 0 0 0;
  padding: 0;
  background: #fff;
  color: #5F5F5F; }
  #lawyer h3 {
    text-align: center;
    font-size: 1.5em;
    font-weight: 400;
    padding: 0 30px; }
    #lawyer h3 i {
      padding: 0 15px 0 0; }
  #lawyer .lawyer-header {
    background: #002855;
    padding: 30px;
    position: relative;
    overflow: hidden;
    color: #fff;
    width: 100%;
    height: 170px; }
    @media (max-width: 480px) {
      #lawyer .lawyer-header {
        height: auto; } }
    #lawyer .lawyer-header img {
      width: 20%;
      position: absolute;
      top: 0;
      right: 0;
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      filter: grayscale(100%); }
      @media (min-width: 768px) and (max-width: 991px) {
        #lawyer .lawyer-header img {
          width: 25%; } }
      @media (max-width: 767px), (max-width: 480px) {
        #lawyer .lawyer-header img {
          display: none; } }
    #lawyer .lawyer-header .btn-vcard {
      width: 120px;
      font-size: 0.9em;
      font-weight: bold;
      margin: -30px 23%;
      float: right; }
      @media (min-width: 768px) and (max-width: 991px) {
        #lawyer .lawyer-header .btn-vcard {
          margin: -30px 25%; } }
      @media (max-width: 767px) {
        #lawyer .lawyer-header .btn-vcard {
          margin: -30px 15px; } }
      @media (max-width: 480px) {
        #lawyer .lawyer-header .btn-vcard {
          width: 100%;
          margin: 15px 0; } }
  #lawyer p {
    margin: 0; }
  #lawyer h1 {
    font-size: 1.2em;
    margin: 0 0 30px 0; }
  #lawyer .lawyer-phone {
    width: 100%;
    display: block;
    color: #00A1B1;
    font-weight: bold; }
  #lawyer .lawyer-email {
    color: #00A1B1; }
  #lawyer ul {
    padding-left: 45px; }
  #lawyer h4 {
    padding-left: 30px;
    font-size: 1.1em; }
  #lawyer li {
    font-size: 0.9em;
    margin-bottom: 15px; }
  #lawyer h4 {
    margin-top: 30px;
    margin-bottom: 30px; }
  #lawyer .lawyer-description {
    text-align: left;
    padding: 30px; }
    #lawyer .lawyer-description h1 {
      font-size: 1.4em;
      margin-top: 0;
      margin-bottom: 30px; }
    #lawyer .lawyer-description p {
      margin: 0;
      font-size: 1.1em; }
    #lawyer .lawyer-description .lawyer-phone, #lawyer .lawyer-description .lawyer-email {
      color: #00A1B1;
      font-size: 1.1em;
      display: block;
      width: 100%; }
    #lawyer .lawyer-description .lawyer-email {
      font-size: 1em;
      margin-bottom: 15px; }
  #lawyer .phrase {
    padding: 0 30px 0 30px;
    text-align: center; }
    #lawyer .phrase p {
      font-size: 1em;
      font-style: italic; }
    #lawyer .phrase h5 {
      font-size: 0.9em; }
  #lawyer .separator {
    padding: 0 90px; }
  #lawyer .lawyer-right {
    padding: 0 30px; }
  #lawyer .award {
    text-align: center; }
    #lawyer .award img {
      margin: 0 auto; }
    #lawyer .award h5 {
      font-size: 1em; }
  #lawyer .article-container a, #lawyer .article-container p {
    font-size: 0.9em;
    float: left;
    margin-bottom: 15px; }

/* Large desktops and laptops */
/* Portrait tablets and medium desktops */
/* Portrait tablets and small desktops */
/* Landscape phones and portrait tablets */
/* Landscape phones and smaller */
#posts-featured {
  margin-bottom: 15px; }

.post-main-featured-item {
  padding-left: 0;
  padding-right: 7px; }
  .post-main-featured-item .img-container {
    height: 160px;
    overflow: hidden; }
    .post-main-featured-item .img-container img {
      margin-top: -75px; }
  .post-main-featured-item .content {
    padding: 20px;
    background: #fff;
    color: #5F5F5F;
    height: 165px; }
    .post-main-featured-item .content h3 {
      font-size: 1em;
      margin: 0;
      font-weight: bold; }
      .post-main-featured-item .content h3 a {
        color: #002855;
        font-size: 1.1em;
        line-height: 150%; }
    .post-main-featured-item .content p {
      color: #7F7F7F;
      font-size: 0.9em;
      line-height: 170%;
      margin: 10px 0 10px 0; }
    .post-main-featured-item .content .date {
      font-size: 0.8em;
      font-style: italic;
      color: #7F7F7F; }
    .post-main-featured-item .content .share {
      font-size: 0.9em;
      float: right;
      color: #002855; }
      .post-main-featured-item .content .share i {
        padding-left: 5px; }

.post-item, .post-featured-item {
  height: 155px;
  margin-bottom: 15px;
  overflow: hidden;
  position: relative; }
  .post-item:first-child, .post-featured-item:first-child {
    padding-left: 0; }
  .post-item:first-child, .post-item:nth-child(2n+3), .post-featured-item:first-child, .post-featured-item:nth-child(2n+3) {
    padding-left: 0;
    padding-right: 7px; }
  .post-item:nth-child(2n+2), .post-featured-item:nth-child(2n+2) {
    padding-right: 0;
    padding-left: 7px; }
  .post-item .img-container, .post-featured-item .img-container {
    width: 155px;
    float: left;
    overflow: hidden;
    margin-right: 20px; }
    .post-item .img-container img, .post-featured-item .img-container img {
      margin: 0 auto;
      width: 280px; }
  .post-item .content, .post-featured-item .content {
    background: #fff;
    padding: 15px 20px 20px 20px;
    height: 155px; }
    .post-item .content h3, .post-featured-item .content h3 {
      font-size: 0.9em;
      padding-right: 7px;
      line-height: 1.4em;
      font-weight: bold;
      margin: 0 0 5px 0; }
      .post-item .content h3 a, .post-featured-item .content h3 a {
        color: #002855; }
    .post-item .content p, .post-featured-item .content p {
      font-size: 0.9em;
      line-height: 150%;
      padding: 7px 0 7px 0;
      margin: 0;
      color: #7F7F7F; }
    .post-item .content .date, .post-featured-item .content .date {
      font-size: 0.8em;
      color: #7F7F7F;
      font-style: italic; }
    .post-item .content .share, .post-featured-item .content .share {
      color: #002855;
      font-size: 0.8em;
      float: right;
      padding-right: 15px; }
      .post-item .content .share i, .post-featured-item .content .share i {
        padding-left: 5px; }

.post-header {
  background: #002855;
  color: #fff;
  float: left;
  width: 100%;
  margin-bottom: 30px;
  padding-right: 30px; }
  .post-header img {
    float: left;
    height: 150px;
    margin-right: 30px; }
  .post-header h1 {
    padding: 30px 0 30px 30px;
    margin: 0;
    font-size: 1.4em;
    line-height: 1.5em;
    font-weight: 200; }
  .post-header .share {
    color: #fff;
    font-size: 0.9em;
    float: right; }
    .post-header .share i {
      padding-left: 5px; }

.content {
  background: #fff;
  padding: 30px;
  color: #5F5F5F;
  font-size: 1em;
  line-height: 1.7em; }

.post-featured-item {
  height: 155px;
  margin-bottom: 15px;
  overflow: hidden; }
  .post-featured-item:first-child {
    padding-left: 0; }
  .post-featured-item:first-child, .post-featured-item:nth-child(2n+3) {
    padding-left: 0; }
  .post-featured-item:nth-child(2), .post-featured-item:nth-child(3) {
    padding-left: 7px;
    padding-right: 0; }
  .post-featured-item:nth-child(2n+2) {
    padding-right: 0; }

/* Large desktops and laptops */
/* Portrait tablets and medium desktops */
/* Portrait tablets and small desktops */
/* Landscape phones and portrait tablets */
/* Landscape phones and smaller */
.category-item {
  height: 155px;
  margin-bottom: 15px;
  overflow: hidden; }
  .category-item:first-child {
    padding-left: 0; }
  .category-item:first-child, .category-item:nth-child(2n+3) {
    padding-left: 0;
    padding-right: 7px; }
  .category-item:nth-child(2n+2) {
    padding-right: 0;
    padding-left: 7px; }
  .category-item .img-container {
    width: 155px;
    float: left;
    overflow: hidden;
    margin-right: 15px; }
    .category-item .img-container img {
      width: 155px; }
  .category-item .content {
    background: #fff;
    padding: 7px;
    height: 155px; }
    .category-item .content h3 {
      font-size: 1.1em; }
      .category-item .content h3 a {
        color: #5F5F5F; }
    .category-item .content p {
      color: #5F5F5F;
      font-size: 0.9em;
      padding: 0 15px 0 0; }
    .category-item .content .date {
      font-size: 0.8em;
      color: #5F5F5F; }
    .category-item .content .share {
      font-size: 0.8em;
      float: right;
      padding-right: 15px; }

.category-header {
  background: #002855;
  color: #fff;
  float: left;
  width: 100%;
  margin-bottom: 30px;
  padding-right: 30px; }
  .category-header img {
    float: left;
    height: 150px;
    margin-right: 30px; }
  .category-header h1 {
    padding: 30px 0 30px 30px;
    margin: 0;
    font-size: 1.4em;
    line-height: 1.5em;
    font-weight: 200; }
  .category-header .share {
    color: #fff;
    font-size: 0.9em;
    float: right; }

.content {
  background: #fff;
  padding: 30px;
  color: #5F5F5F;
  font-size: 1em;
  line-height: 1.7em; }

/* Large desktops and laptops */
/* Portrait tablets and medium desktops */
/* Portrait tablets and small desktops */
/* Landscape phones and portrait tablets */
/* Landscape phones and smaller */
#us {
  background: #fff; }
  #us .content {
    padding: 30px; }

/* Large desktops and laptops */
/* Portrait tablets and medium desktops */
/* Portrait tablets and small desktops */
/* Landscape phones and portrait tablets */
/* Landscape phones and smaller */
/* Large desktops and laptops */
/* Portrait tablets and medium desktops */
/* Portrait tablets and small desktops */
/* Landscape phones and portrait tablets */
/* Landscape phones and smaller */
.experience-item {
  height: 155px;
  margin-bottom: 15px;
  overflow: hidden; }
  .experience-item:first-child {
    padding-left: 0; }
  .experience-item:first-child, .experience-item:nth-child(2n+3) {
    padding-left: 0;
    padding-right: 7px; }
  .experience-item:nth-child(2n+2) {
    padding-right: 0;
    padding-left: 7px; }
  .experience-item .img-container {
    width: 155px;
    float: left;
    overflow: hidden;
    margin-right: 15px;
    min-height: 100%; }
    .experience-item .img-container img {
      width: 100%; }
  .experience-item .content {
    background: #fff;
    padding: 7px;
    height: 155px; }
    .experience-item .content h3 {
      font-size: 1.1em;
      padding-right: 15px;
      line-height: 1.4em; }
      .experience-item .content h3 a {
        color: #5F5F5F; }
    .experience-item .content p {
      color: #5F5F5F;
      font-size: 0.9em;
      line-height: 150%;
      padding: 0 15px 0 0; }
    .experience-item .content .date {
      font-size: 0.8em;
      color: #5F5F5F; }
    .experience-item .content .share {
      font-size: 0.8em;
      float: right;
      padding-right: 15px; }

.experience-header {
  background: #002855;
  color: #fff;
  float: left;
  width: 100%;
  margin-bottom: 30px; }
  .experience-header img {
    float: right;
    height: 150px;
    margin-left: 30px; }
  .experience-header h1 {
    padding: 30px;
    margin: 0;
    font-size: 1.2em;
    font-weight: 400; }

.content {
  background: #fff;
  padding: 30px;
  color: #5F5F5F;
  font-size: 1em;
  line-height: 1.7em; }

/* Large desktops and laptops */
/* Portrait tablets and medium desktops */
/* Portrait tablets and small desktops */
/* Landscape phones and portrait tablets */
/* Landscape phones and smaller */
#work-with-us {
  background: #fff; }
  #work-with-us .top {
    padding: 0; }

/*# sourceMappingURL=theme.css.map */
