body {
  background: #e4e6eb;
  font-size: 14px;
  padding: 0 0 30px 0; }

ul {
  padding: 0; }

.form-control {
  box-shadow: none;
  border: 2px solid #dddddd;
  text-indent: 3px;
  height: 42px; }
  .form-control:focus {
    border: 2px solid #cccccc;
    box-shadow: none; }

.btn {
  border: none; }

.btn-store {
  background: #002855;
  color: white; }

.btn-inverse {
  background: #34495e;
  color: white; }

.btn-info {
  background: #3498db;
  color: white; }

.panel-default {
  background: #f8f8f8; }
  .panel-default .panel-body {
    color: #5f5f5f; }
    .panel-default .panel-body .btn-info {
      background: #00a1b1; }

.navbar-default {
  background: #002855;
  color: white; }
  .navbar-default .navbar-brand {
    color: white; }
  .navbar-default .navbar-nav > .active > a {
    background: #00a1b1;
    color: white; }

#nav-main {
  position: fixed;
  height: 500px;
  width: 200px;
  color: white;
  background: #002855;
  margin-left: 30px;
  margin-top: 60px; }

.lawyer-list {
  background: white;
  width: 48%;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  float: left;
  margin: 1%; }
  .lawyer-list .phone, .lawyer-list .email {
    color: #00a1b1;
    display: block;
    width: 100%; }
  .lawyer-list img {
    float: left;
    width: 150px;
    height: 170px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    margin-right: 15px; }

#lawyers-filters {
  background: #002855;
  height: 50px; }
  #lawyers-filters select, #lawyers-filters input {
    width: 25%;
    float: left; }
  #lawyers-filters .radio-inline {
    color: white; }

#lawyer-finish {
  background: white;
  padding: 0; }
  #lawyer-finish li {
    list-style-position: inside; }
  #lawyer-finish h4 {
    margin-top: 30px;
    margin-bottom: 30px; }
  #lawyer-finish .lawyer-description {
    text-align: left;
    padding: 15px; }
  #lawyer-finish .lawyer-header {
    background: #002855;
    padding: 30px;
    position: relative;
    overflow: hidden;
    color: white; }
    #lawyer-finish .lawyer-header h1 {
      font-size: 1.4em;
      margin-top: 0; }
    #lawyer-finish .lawyer-header p {
      margin: 0;
      font-size: 1.1em; }
    #lawyer-finish .lawyer-header .lawyer-phone, #lawyer-finish .lawyer-header .lawyer-email {
      color: #00a1b1;
      font-size: 1.1em;
      display: block;
      width: 100%; }
    #lawyer-finish .lawyer-header .lawyer-email {
      font-size: 1em;
      margin-bottom: 15px; }
    #lawyer-finish .lawyer-header img {
      position: absolute;
      top: 0;
      right: 0;
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      filter: grayscale(100%); }
