<script type="text/x-handlebars-template" id="lawyer-article-template">
  {{#if file_name.url}}
    <a href="{{ file_name.url }}" target="_new">{{ title }}</a>
  {{else}}
    {{ title }}
  {{/if}}  
</script>

