<script type="text/x-handlebars-template" id="lawyer-article-form-template">
  <form action="">
   <div class="row">
   
    <div class="form-group col-lg-4">
      <input type="text" class="form-control" name="fields[title]" value="{{ title }}" placeholder="Título">
    </div>

    <div class="form-group col-lg-4">
      <input type="file" class="form-control" name="fields[file_name]" >
    </div>

  </div>
</form>
</script>