<script type="text/x-handlebars-template" id="lawyer-article-form-template">
  <form action="">
   <div class="row">
    <input type="hidden" name="fields[lawyer_id]" value="{{ lawyer_id }}">

    <div class="form-group col-lg-12">
      <textarea name="fields[title]" class="form-control" rows="3" placeholder="Título">{{ title }}</textarea>
    </div>

    <div class="form-group col-lg-6">
      <input type="file" class="form-control" name="fields[file_name]" >
    </div>
    <div class="form-group col-lg-6">
      <input type="text" class="form-control" placeholder="Link" name="fields[link]" >
    </div>

  </div>
</form>
</script>


