<script type="text/x-handlebars-template" id="lawyer-education-template">
  <td> {{ title }} </td>
  <td>{{ institution }}</td>
  <td>{{ country }}</td>
  <td>{{ year }} </td>

  <td>
  <a href="#" class="btn btn-warning btn-xs open-edit" >editar</a>
  <a href="#" class="btn btn-danger btn-xs remove" >eliminar</a>
  </td>
</script>
