<script type="text/x-handlebars-template" id="lawyer-form-education-template">
  <form>
    <div class="row">
      <input type="hidden" name="fields[lawyer_id]" value="{{ lawyer_id }}">

      <div class="form-group col-lg-12">
        <textarea name="fields[title]" class="form-control" rows="2" placeholder="Título">{{ title }}</textarea>
      </div>

      <div class="form-group col-lg-12">
        <input type="text" name="fields[institution]" class="form-control" placeholder="Institución" value="{{ institution }}">
      </div>

      <div class="form-group col-lg-6">
        <select name="fields[country]" class="form-control">
          {{#if country}}
          <option value="{{ country }}">{{ country }}</option>
          {{else}}
          <option value="">Seleccionar País</option>
          {{/if}}
          <%= render "partials/countries" %>
        </select>
      </div>

      <div class="form-group col-lg-3">
        <input type="text" name="fields[year]" class="form-control datepicker-year" placeholder="Año" value="{{ year }}">
      </div>

    </div>
  </form>

</script>
