<div class="panel panel-default">
  <div class="panel-body">
     <h4><%= t('education') %></h4>
     <hr>
     <div class="row">
      <div class="form-group col-lg-4">
        <input type="text" name="educations[][title]" class="form-control" placeholder="Título">
      </div>
      <div class="form-group col-lg-4">
        <input type="text" name="educations[][institution]" class="form-control" placeholder="Institución">
      </div>

      <div class="form-group col-lg-2">
        <select name="educations[][country]" class="form-control">
          <option value="">Seleccionar País</option>
          <%= render "partials/countries" %>
        </select>
      </div>

      <div class="form-group col-lg-2">
        <input type="text" name="educations[][year]" class="form-control datepicker-year" placeholder="Año">
      </div>
       <div class="col-lg-12">
       <hr>
        <a href="#" class="btn btn-info pull-right lawyer-add-education">+</a>
      </div>
      </div>
  </div>
</div>


 <script type="text/x-handlebars-template" id="lawyer-form-education-template">
      <div class="form-group col-lg-4">
        <input type="text" name="educations[][title]" class="form-control" placeholder="Título">
      </div>
      <div class="form-group col-lg-4">
        <input type="text" name="educations[][institution]" class="form-control" placeholder="Institución">
      </div>



      <div class="form-group col-lg-2">
        <select name="educations[][country]" class="form-control">
          <option value="">Seleccionar País</option>
          <%= render "partials/countries" %>
        </select>
      </div>

      <div class="form-group col-lg-2">
        <input type="text" name="educations[][year]" class="form-control datepicker-year" placeholder="Año">
      </div>
</script>

