<div class="panel panel-default" id="lawyer-award-form">
  <div class="panel-body">
  <h4>Premios</h4>
  <hr>
  <div class="row">
    <form action="">
      <div class="form-group col-lg-4">
        <input type="text" class="form-control" name="fields[][title]" placeholder="Título">
      </div>
      <div class="form-group col-lg-3">
        <input type="file" class="form-control" name="fields[][file]" >
      </div>
    </form>
  </div>
    <hr>
    <a href="#" class="btn btn-info pull-right lawyer-add-award">+</a>
  </div>
</div>

<script type="text/x-handlebars-template" id="lawyer-award-template">
 <div class="row">
    <div class="form-group col-lg-4">
      <input type="text" class="form-control" name="fields[][title]" placeholder="Título">
    </div>
    <div class="form-group col-lg-3">
      <input type="file" class="form-control" name="fields[][file]" >
    </div>
  </div>
</script>