<div class="panel panel-default" id="lawyer-job-form">
  <div class="panel-body">
    <h4><%= t('professional_experience') %></h4>
    <hr>
    <div class="fields"></div>
    <div class="col-lg-12">
      <hr>
      <a href="#" class="btn btn-info lawyer-add-job">+</a>
    </div>
  </div>
</div>

 <script type="text/x-handlebars-template" id="lawyer-form-job-template"> 
  <form>
   <div class="row">
   <div class="form-group col-lg-3">
      <input type="text" name="fields[title]" class="form-control" placeholder="Título">
    </div>
   <div class="form-group col-lg-3">
      <input type="text" name="fields[company]" class="form-control" placeholder="Empresa">
    </div>
    
    <div class="form-group col-lg-2">
      <select name="fields[country]" class="form-control">
        <option value="">Seleccionar País</option>
        <%= render "partials/countries" %>
      </select>
    </div>
    <div class="form-group col-lg-2">
      <input type="text" name="fields[from]" class="form-control datepicker-year" placeholder="Desde">
    </div>

    <div class="form-group col-lg-2">
      <input type="text" name="fields[until]" class="form-control datepicker-year" placeholder="Hasta">
    </div>
  </div>
  </form>
</script>