<script type="text/x-handlebars-template" id="lawyer-institution-template">
  <td>{{ title }}</td>
  <td>{{from}}</td>
  <td>{{until}}</td>
  <td>{{ country }}</td>
  <td>
    <a href="#" class="btn btn-warning btn-xs open-edit" >Editar</a>
    <a href="#" class="btn btn-danger btn-xs remove" >Eliminar</a>
  </td>
</script>
