<script type="text/x-handlebars-template" id="lawyer-form-job-template">
  <form>
   <div class="row">
       <input type="hidden" name="fields[lawyer_id]" value="{{ lawyer_id }}">
   <div class="form-group col-lg-12">
      <textarea name="fields[title]" class="form-control" rows="2" placeholder="Título">{{ title }}</textarea>
    </div>
   <div class="form-group col-lg-12">
      <input type="text" name="fields[company]" class="form-control" placeholder="Empresa" value="{{ company }}">
    </div>

    <div class="form-group col-lg-6">
      <select name="fields[country]" class="form-control">
        {{#if country}}
          <option value="{{ country }}">{{ country }}</option>
        {{else}}
          <option value="">Seleccionar País</option>
        {{/if}}
        <%= render "partials/countries" %>
      </select>
    </div>

    <div class="form-group col-lg-3">
      <input type="text" name="fields[from]" class="form-control datepicker-year" placeholder="Desde" value="{{ from }}">
    </div>

    <div class="form-group col-lg-3">
      <input type="text" name="fields[until]" class="form-control datepicker-year" placeholder="Hasta" value="{{ until }}">
    </div>
  </div>
  </form>
</script>
