<script type="text/x-handlebars-template" id="lawyer-form-language-template">
 <form action="">
     <input type="hidden" name="fields[lawyer_id]" value="{{ lawyer_id }}">
  <div class="row">
     <div class="form-group col-lg-6">
       <select name="fields[name]" class="form-control">
         {{#if name}}
         <option value="{{ name }}">{{ name }}</option>
         {{else}}
         <option value="">Seleccionar idioma</option>
         {{/if}}
         <%= render "partials/langs" %>
       </select>
     </div>
   </div>
 </form>
</script>
