<script type="text/x-handlebars-template" id="lawyer-dashbord-template">
	<td>{{toUpperCase name }} {{toUpperCase lastname }}</td>
	<td>{{ email }}</td>
	<td>{{ position }}</td>
	<td>{{ country }}</td>
	<td>
   <a href="/admin/lawyers/{{ id }}/edit" class="btn btn-default btn-xs lawyer-edit"><i class="fa fa-pencil-square-o"></i> Editar Español</a>
	 {{#if translations}}
   	<a href="en/admin/lawyers/{{ translations.id }}/edit" class="btn btn-default btn-xs"><i class="fa fa-pencil-square-o"></i> Editar Inglés</a>
   {{else}}
   		{{#if translation_id }}
   			<a href="en/admin/lawyers/{{ translation_id }}/edit" class="btn btn-default btn-xs"><i class="fa fa-pencil-square-o"></i> Editar Ingles</a>
   		{{else}}

   		{{/if}}
   {{/if}}
	</td>
  <td>
    {{#if published}}
      <a href="/admin/lawyers/{{ id }}/edit" class="btn btn-success btn-xs unpublish">Publicado</a>
    {{else}}
      <a href="#" class="btn btn-default btn-xs publish">Publicar</a>
    {{/if}}
  </td>
</script>
