<script type="text/x-handlebars-template" id="lawyer-dashbord-template">
<td>
	{{#if img_name}}
		<img src="{{ img_name.url }}" alt="" width="30">
	{{/if}}
	</td>
	<td>{{ name }} {{ lastname }}</td>
	<td>{{ email }}</td>
	<td>{{ position }}</td>
	<td>{{ country }}</td>
	 <td>  {{#if translations}}
   <a href="en/admin/lawyers/{{ translations.id }}/edit" class="btn btn-warning btn-sm">Editar</a>
   {{else}}
   <a href="#" class="btn btn-primary btn-sm translate">Traducir</a> 
   {{/if}} </td>
	<td>

		<a href="/admin/lawyers/{{ id }}/edit" class="btn btn-warning btn-sm lawyer-edit">Editar</a>
	</td>
</script>

