<script type="text/x-handlebars-template" id="lawyer-dashbord-template">
<td>
	{{#if img_name}}
		<img src="{{ img_name.url }}" alt="" width="30">
	{{/if}}
	</td>
	<td>{{toUpperCase name }} {{toUpperCase lastname }}</td>
	<td>{{ email }}</td>
	<td>{{ position }}</td>
	<td>{{ country }}</td>
	 <td>  
	 {{#if translations}}
   	<a href="en/admin/lawyers/{{ translations.id }}/edit" class="btn btn-warning btn-sm">Editar Traducción</a>
   {{else}}
   		{{#if translation_id }}
   			<a href="en/admin/lawyers/{{ translation_id }}/edit" class="btn btn-warning btn-sm">Editar Traducción</a>
   		{{else}}
   		<a href="#" class="btn btn-primary btn-sm translate">Traducir</a> 
   		{{/if}}
   {{/if}} 
   </td>
	<td>

		<a href="/admin/lawyers/{{ id }}/edit" class="btn btn-warning btn-sm lawyer-edit">Editar</a>
	</td>
</script>

