<script type="text/x-handlebars-template" id="lawyer-dashbord-template">
<td>
	{{#if img_name}}
		<img src="{{ img_name.url }}" alt="" width="30">
	{{/if}}
	</td>
	<td>{{toUpperCase name }} {{toUpperCase lastname }}</td>
	<td>{{ email }}</td>
	<td>{{ position }}</td>
	<td>{{ country }}</td>
	 <td>  
	 {{#if translations}}
   	<a href="en/admin/lawyers/{{ translations.id }}/edit" class="btn btn-default btn-xs"><i class="fa fa-pencil-square-o"></i> Editar Inglés</a>
   {{else}}
   		{{#if translation_id }}
   			<a href="en/admin/lawyers/{{ translation_id }}/edit" class="btn btn-default btn-xs"><i class="fa fa-pencil-square-o"></i> Editar Ingles</a>
   		{{else}}
   	
   		{{/if}}
   {{/if}} 
   </td>
	<td>

		<a href="/admin/lawyers/{{ id }}/edit" class="btn btn-default btn-xs lawyer-edit"><i class="fa fa-pencil-square-o"></i> Editar Español</a>
	</td>
</script>

<div class="modal fade" id="confirm-translate-modal">
  <div class="modal-dialog">
    <div class="modal-content"> 
    <div class="modal-header">
      <h5>Crear perfil en Inglés</h5>
    </div>
    <div class="modal-body"> 
    <p>
        Es recomendable que su perfil en español esté completamente terminado antes de generar el perfil en inglés, pues éste duplicará la información en español para su posterior traducción.
      </p>
      <b >¿Desea continuar?</b>
    </div>
    <div class="modal-footer">
    <a href="#" class="btn btn-default cancel">Cancelar</a>
    <a href="#" class="btn btn-info continue">Aceptar</a>
    </div>
    </div>
  </div>
</div>