<script id="lawyer-template" type="text/x-handlebars-template">
 <div class="lawyer-header">
   <p>{{ position }}</p>
   <h1>{{ name }}  {{ lastname }}</h1>
   <p>{{ country }}</p>
   <a href="tel:{{ phone }}" class="lawyer-phone">{{ phone }}</a>
   <a href="mailto:{{ email }}" class="lawyer-email">{{ email }}</a>

   {{#if img_name.url}}
   <img src="{{img_name.url}}" width="250" class="pull-right">
   {{/if}}
 </div>

 <p class="lawyer-description">{{ description }}</p>

 <a href="#" class="btn btn-info open-edit-lawyer">Editar información & áreas</a>
 {{#if translations}}
   <a href="/en/admin/lawyers/{{ translations.id }}/edit" class="btn btn-warning ">Editar Ingles</a>
  {{else}}
     {{#if translation_id }}
       <a href="/admin/lawyers/{{ translation_id }}/edit" class="btn btn-warning ">Editar Español</a>
     {{else}}
       <a href="#" class="btn btn-primary confirm-translate">Crear perfil en inglés</a>
     {{/if}}
  {{/if}}

   {{#if published}}
      <a href="#" class="btn btn-success unpublish">Publicado</a>
    {{else}}
      <a href="#" class="btn btn-default publish">Publicar</a>
    {{/if}}

</script>
