<div class="modal fade" id="lawyer-upload-article-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form action="/api/lawyer-attach-img" id="media-dropzone" class="dropzone"  enctype="multipart/form-data">
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
          <input name="lawyer_id" type="hidden" />
          <div class="fallback">
          <input  type="file" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <a href="" class="btn btn-default modal-close"><%= t('cancel') %></a>
      </div>
    </div>
  </div>
</div>