<div class="panel panel-default" id="lawyer-form-<%= model %>">
  <div class="panel-body">
  <h4><%= t(title) %></h4>
  <hr>
  <div class="fields"></div>
    <hr>
    <a href="#" class="btn btn-info lawyer-add-<%= model %>">+</a>
  </div>
</div>

