<div class="checkbox">
  <label>
    <input type="checkbox" name="category[]"> Aduanas y Comercio Internacional
  </label>
</div>

<div class="checkbox">
  <label>
    <input type="checkbox" name="category[]" value="Ambiental"> Ambiental
  </label>
</div>

<div class="checkbox">
  <label>
    <input type="checkbox" name="category[]" value="Bancario y Financiero"> Bancario y Financiero
  </label>
</div>

<div class="checkbox">
  <label>
    <input type="checkbox" name="category[]" value="Clientes Privados"> Clientes Privados
  </label>
</div>

<div class="checkbox">
  <label>
    <input type="checkbox" name="category[]" value=" Competencia Desleal y Antimonopolio">  Competencia Desleal y Antimonopolio
  </label>
</div>

<div class="checkbox">
  <label>
    <input type="checkbox" name="category[]" value="Corporativo y Contratos"> Corporativo y Contratos
  </label>
</div>

      <div class="checkbox">
        <label>
          <input type="checkbox" name="category[]" value="Derecho Minero"> Derecho Minero
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="category[]" value="Derecho Tributario"> Derecho Tributario
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="category[]" value="Energía y Recursos Naturales"> Energía y Recursos Naturales
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="category[]" value="Fusiones y Adquisiciones"> Fusiones y Adquisiciones
        </label>
      </div>
  </div>

    <div class="form-group col-lg-8">
      <div class="checkbox">
        <label>
          <input type="checkbox" name="category[]" name="Infraestructura y Servicios Públicos"> Infraestructura y Servicios Públicos
        </label>
      </div>

         <div class="checkbox">
        <label>
          <input type="checkbox" name="category[]" name="Inmobiliario"> Inmobiliario
        </label>
      </div>
         <div class="checkbox">
        <label>
          <input type="checkbox" name="category[]" name="Insolvencia"> Insolvencia
        </label>
      </div>
         <div class="checkbox">
        <label>
          <input type="checkbox" name="category[]" name="Inversión Extranjera"> Inversión Extranjera
        </label>
      </div>
         <div class="checkbox">
        <label>
          <input type="checkbox" name="category[]" name="Laboral y Seguridad Social"> Laboral y Seguridad Social
        </label>
      </div>
         <div class="checkbox">
        <label>
          <input type="checkbox" name="category[]" name="Litigios"> Litigios
        </label>
      </div>
         <div class="checkbox">
        <label>
          <input type="checkbox" name="category[]" name="Mercado de Capitales"> Mercado de Capitales
        </label>
      </div>
        <div class="checkbox">
        <label>
          <input type="checkbox" name="category[]" name="Propiedad Intelectual"> Propiedad Intelectual
        </label>
      </div>