<option value="Albanés">Albanés</option>
<option value="Alemán">Alemán</option>
<option value="Amharico">Amharico</option>
<option value="Arabe">Arabe</option>
<option value="Armenio">Armenio</option>
<option value="Bengali">Bengali</option>
<option value="Bieloruso">Bieloruso</option>
<option value="Birmanés">Birmanés</option>
<option value="Bulgaro">Bulgaro</option>
<option value="Catalan">Catalan</option>
<option value="Checo">Checo</option>
<option value="Chino">Chino</option>
<option value="Coreano">Coreano</option>
<option value="Croata">Croata</option>
<option value="Danés">Danés</option>
<option value="Dari">Dari</option>
<option value="Dzongkha">Dzongkha</option>
<option value="Escocés">Escocés</option>
<option value="Eslovaco">Eslovaco</option>
<option value="Esloveniano">Esloveniano</option>
<option value="Español">Español</option>
<option value="Esperanto">Esperanto</option>
<option value="Estoniano">Estoniano</option>
<option value="Faroese">Faroese</option>
<option value="Farsi">Farsi</option>
<option value="Finlandés">Finlandés</option>
<option value="Francés">Francés</option>
<option value="Gaelico">Gaelico</option>
<option value="Galese">Galese</option>
<option value="Gallego">Gallego</option>
<option value="Griego">Griego</option>
<option value="Hebreo">Hebreo</option>
<option value="Hindi">Hindi</option>
<option value="Holandés">Holandés</option>
<option value="Hungaro">Hungaro</option>
<option value="Inglés">Inglés</option>
<option value="Indonesio">Indonesio</option>
<option value="Inuktitut (Eskimo)">Inuktitut (Eskimo)</option>
<option value="Islandico">Islandico</option>
<option value="Italiano">Italiano</option>
<option value="Japonés">Japonés</option>
<option value="Khmer">Khmer</option>
<option value="Kurdo">Kurdo</option>
<option value="Lao">Lao</option>
<option value="Laponico">Laponico</option>
<option value="Latviano">Latviano</option>
<option value="Lituano">Lituano</option>
<option value="Macedonio">Macedonio</option>
<option value="Malayés">Malayés</option>
<option value="Maltés">Maltés</option>
<option value="Nepali">Nepali</option>
<option value="Noruego">Noruego</option>
<option value="Pashto">Pashto</option>
<option value="Polaco">Polaco</option>
<option value="Portugués">Portugués</option>
<option value="Rumano">Rumano</option>
<option value="Ruso">Ruso</option>
<option value="Serbio">Serbio</option>
<option value="Somali">Somali</option>
<option value="Suahili">Suahili</option>
<option value="Sueco">Sueco</option>
<option value="Tagalog-Filipino">Tagalog-Filipino</option>
<option value="Tajik">Tajik</option>
<option value="Tamil">Tamil</option>
<option value="Tailandés">Tailandés</option>
<option value="Tibetano">Tibetano</option>
<option value="Tigrinia">Tigrinia</option>
<option value="Tonganés">Tonganés</option>
<option value="Turco">Turco</option>
<option value="Turkmenistano">Turkmenistano</option>
<option value="Ucraniano">Ucraniano</option>
<option value="Urdu">Urdu</option>
<option value="Uzbekistano">Uzbekistano</option>