<script type="text/x-handlebars-template" id="categories-select-template">
<select class="select-category">
  {{#each []}} 
    <option value="{{ id }}"> {{ name }}</option>
  {{/each}}
</select>
</script>

