<div class="modal fade" id="share-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content"> 
    <div class="modal-body">
    <span class='st_facebook_hcount' displayText='Facebook'></span>
    <span class='st_twitter_hcount' displayText='Tweet'></span>
    <span class='st_linkedin_hcount' displayText='LinkedIn'></span>
    <span class='st_email_hcount' displayText='Email'></span>
    <span class='st_whatsapp_hcount' displayText='WhatsApp'></span>
    </div>
    <div class="modal-footer">
    <a href="#" class="btn btn-default modal-close">Cerrar</a>
    </div>
    </div>
  </div>
</div>


