<script id="lawyer-template" type="text/x-handlebars-template">
  <img src="{{ img_path }}" alt="{{ name }} {{ lastname }}">
  <span class="position">{{ position }}</span>
  <h3>{{ name }} {{ lastname }}</h3>
  <span class="phone">{{ phone }}</span>
  <span class="email">{{ email }}</span>
</script>

