<script id="lawyer-template" type="text/x-handlebars-template">

<div class="img-container">
{{#if translation.img_name.url}}
  <img src="{{ translation.img_name.url }}" alt="{{ name }} {{ lastname }}">
  {{else}}

  {{#if img_name.url}}
  <img src="{{ img_name.url }}" alt="{{ name }} {{ lastname }}">
  {{else}}
    <img src="/img/lawyer_placeholder.jpg" alt="{{ name }} {{ lastname }}">
  {{/if}}

{{/if}}
</div>

  <div class="content">
    <div class="hover">
       <span class="position">{{ position }}</span>
    <h3><a href="abogados/{{ slug }}">{{toUpperCase name }} {{toUpperCase lastname }}</a></h3>
    <span class="country">{{ country }}</span>
    <a href="tel:{{ phone }}" class="phone">{{ phone }}</a>
    <a href="mailto:{{ email }}" class="email">{{ email }}</a>
    </div>
	  <span class="position">{{ position }}</span>
	  <h3><a href="abogados/{{ slug }}">{{toUpperCase name }} {{toUpperCase lastname }}</a></h3>
    <span class="country">{{ country }}</span>
	  <a href="tel:{{ phone }}" class="phone">{{ phone }}</a>
	  <a href="mailto:{{ email }}" class="email">{{ email }}</a>
  </div>

</script>



