<script id="lawyer-template" type="text/x-handlebars-template">
  <img src="{{ img_name.url }}" alt="{{ name }} {{ lastname }}" width="50">
  <span class="position">{{ position }}</span>
  <h3><a href="/{{ lang }}/abogado/{{ name }}-{{ lastname }}">{{ name }} {{ lastname }}</a></h3>
  <span class="phone">{{ phone }}</span>
  <span class="email">{{ email }}</span>
</script>

