<div id="pro-bono">
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="/img/pro_bono_slider/probono01.jpg" alt="...">

    </div>
    <div class="item">
      <img src="/img/pro_bono_slider/probono02.jpg" alt="...">
    </div>

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="content">
	
<h2>Philippi, Prietocarrizosa & Uría es parte de la Declaración de Trabajo Pro bono para el Continente Americano</h2>
<p>
Nuestros abogados se han comprometido con la Fundación ProBono en Chile y en Colombia a trabajar 20 horas anuales cada uno, asesorando jurídicamente en forma gratuita a instituciones sin fines de lucro dedicadas a educación, vivienda, salud, extrema pobreza, cultura y rescate patrimonial, emprendimiento y medioambiente.
</p>

<p>
En Colombia hemos logrado que menores y personas de la tercera edad, con graves enfermedades, accedan a servicios de salud integrales, suministrados por parte de sus entidades prestadoras de salud. 
</p>

<p>
Hemos ayudado a The Halo Trust, entidad que desarrolla programas de desminado, desde su constitución e inicio de operaciones en Colombia, en el manejo de sus trabajadores y en general en los asuntos legales inherentes a sus operaciones.

</p>
<p>
	En colaboración con la Fundación Compartamos con Colombia, hemos hecho parte de programas de fortalecimiento institucional, gobierno corporativo y de sostenibilidad de ONG’s, fundaciones y asociaciones. 
</p>

<p>
	También hemos trabajado en investigaciones del Cyrus R . Vance Center for International Justice. 
</p>

<p>
En Chile asesoramos en requerimientos legales necesarios de Hogar de Cristo, María Ayuda, Corporación Chileno Alemana de Beneficencia, People Help People, Consejo Economía de la Iglesia Católica, Iglesia Evangélica y otras instituciones sociales y de beneficencia.
</p>
<p>
  Por otra parte, con la finalidad de contribuir a la protección jurídica de los derechos civiles y sociales y de derechos humanos, miembros de nuestro Estudio han integrado el Consejo Asesor de Alto Nivel para el Desarrollo Sustentable de la ONU, la Comisión Verdad y Reconciliación, el Consejo Nacional Asesor del Programa de Pequeños Subsidios para el Medio Ambiente Mundial del PNUD, la Fundación de las Américas, la Corporación PARTICIPA y la Fundación PRO-HUMANA.

</p>


	<div id="carousel-probono-foundations" class="carousel carousel-text slide" data-ride="carousel">

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <ul>
       <li>
        <img src="/img/pro_bono_foundations/05.png" alt="" >
      </li>
      <li>
        <img src="/img/pro_bono_foundations/02.png" alt="" >
      </li>
      <li>
        <img src="/img/pro_bono_foundations/03.png" alt="" >
      </li>
      <li>
        <img src="/img/pro_bono_foundations/04.png" alt="" >
      </li>
    </ul>
  </div>
     <div class="item">
      <ul>
       <li>
       <img src="/img/pro_bono_foundations/01.png" alt="" >
        
      </li>
      <li>
        <img src="/img/pro_bono_foundations/06.png" alt="" >
      </li>
      <li>
        <img src="/img/pro_bono_foundations/11.png" alt="" >
      </li>
      <li>
        <img src="/img/pro_bono_foundations/08.png" alt="" >
      </li>
    </ul>
  </div>
  <div class="item">
      <ul>
       <li>
        <img src="/img/pro_bono_foundations/09.png" alt="" >
      </li>
      <li>
        <img src="/img/pro_bono_foundations/10.png" alt="" >
      </li>
      <li>
        <img src="/img/pro_bono_foundations/07.png" alt="" >
      </li>
      <li>
        <img src="/img/pro_bono_foundations/12.png" alt="" >
      </li>
    </ul>
  </div>
  <div class="item">
      <ul>
       <li>
        <img src="/img/pro_bono_foundations/13.jpg" alt="" >
      </li>
      <li>
        <img src="/img/pro_bono_foundations/14.png" alt="" >
      </li>
      <li>
        <img src="/img/pro_bono_foundations/18.jpg" alt="" >
      </li>
      <li>
        <img src="/img/pro_bono_foundations/16.png" alt="" >
      </li>
    </ul>
  </div>
   <div class="item">
      <ul>
       <li>
        <img src="/img/pro_bono_foundations/17.png" alt="" >
      </li>
      <li>
        <img src="/img/pro_bono_foundations/15.png" alt="" >
      </li>
      <li>
        <img src="/img/pro_bono_foundations/19.jpg" alt="" >
      </li>
      <li>
        <img src="/img/pro_bono_foundations/20.png" alt="" >
      </li>
    </ul>
  </div>

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-probono-foundations" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-probono-foundations" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


</div>

</div>