<% content_for :head do %>
 <title>Philippi Prietocarrizosa Ferrero DU & Uría - Nosotros</title>
  <meta name="description" content="Philippi Prietocarrizosa Ferrero DU & Uría es la primera gran firma iberoamericana, resultado de la fusión entre el estudio chileno Philippi, Yrarrázaval, Pulido & Brunner y la firma colombiana Prietocarrizosa, en lo que supone la primera unión en Latinoamérica de dos estudios líderes en sus respectivos países. La prestigiosa firma de España y Portugal, Uría Menéndez, se ha asociado al nuevo estudio">
  <meta property="og:title" content="Philippi Prietocarrizosa Ferrero DU & Uría - Nosotros" />
  <meta property="og:description" content="Philippi Prietocarrizosa Ferrero DU & Uría es la primera gran firma iberoamericana, resultado de la fusión entre el estudio chileno Philippi, Yrarrázaval, Pulido & Brunner y la firma colombiana Prietocarrizosa, en lo que supone la primera unión en Latinoamérica de dos estudios líderes en sus respectivos países. La prestigiosa firma de España y Portugal, Uría Menéndez, se ha asociado al nuevo estudio" />

  <meta property="og:image" content="http://ppulegal.com/img/Logo@2x.png" />

<% end %>
