	<div  id="lawyer-create">
		<div class="panel panel-default " id="lawyer-form-create">
			<div class="panel-body"> 
      
      </div>      
		</div>

		<%= render "lawyers/form" %>
		<%= render "admin/categories/partials/category_checkbox" %>

	</div>
