	<div  id="lawyer-create" class="col-lg-12">
		<div class="panel panel-default " id="lawyer-form-create">
      <div class="panel-heading">
    <h5>Nuevo abogado > Datos personales</h5>
  </div>
			<div class="panel-body">
        
      </div>      
		</div>

		<%= render "lawyers/form" %>
		<%= render "admin/categories/partials/category_checkbox" %>
<a href="#" class="btn btn-store lawyer-store">Guardar y Continuar</a>
	</div>
