<script type="text/x-handlebars-template" id="lawyer-form-award-template">
<form>
 <div class="row">
     <input type="hidden" name="fields[lawyer_id]" value="{{ lawyer_id }}">
    <div class="form-group col-lg-6">
      <input type="text" class="form-control" name="fields[title]" placeholder="Título" value="{{ title }}">
    </div>
    <div class="form-group col-lg-6">
      <input type="file" class="form-control" name="fields[img_name]" >
    </div>
  </div>
</form>
</script>
