<script type="text/x-handlebars-template" id="lawyer-form-award-template">
<form>
 <div class="row">
    <input type="hidden" name="fields[lawyer_id]" value="{{ lawyer_id }}">
    <div class="form-group col-lg-12">
      <textarea name="fields[title]" class="form-control" rows="3" placeholder="Título">{{ title }}</textarea>
    </div>
    <div class="form-group col-lg-6">
       <label for="fields[img_name]">Adjuntar Imagen</label>
      <input type="file" class="form-control" name="fields[img_name]" >
    </div>
  </div>
</form>
</script>
 

