<div id="carousel-us-awards" class="carousel carousel-text slide" data-ride="carousel">

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
   <div class="item active">
    <ul>
    <li>
      <div class="img-container">
        <img src="/img/us_awards/LL250-2015.jpg" alt="" width="100">
      </div>
      <span>FIRMA RECOMENDADA 2015</span>
    </li>
      <li>
        <div class="img-container">
          <img src="/img/us_awards/Chambers_Latin_America Awards_2014.jpg" alt="" width="100">
        </div>
        <span><%= t("awards.cl_chambers_2014") %></span>
      </li>

      <li>
        <div class="img-container">
         <img src="/img/us_awards/probono-embed.png" alt="probono-embed" width="100">
       </div>

       <span>Firma Probono del Año 2014.</span>
     </li>
      <li>
    <div class="img-container">
      <img src="/img/us_awards/Euromoney.jpeg" alt="" width="100">
    </div>
    <span>Premio a la mejor firma del año en Colombia para mujeres en la profesión legal 2014.</span>
  </li> 

   </ul>
 </div>
 <div class="item">
  <ul>
    <li>
        <div class="img-container">
          <img src="/img/us_awards/IFLR-americas-2014.jpg" alt="IFLR-americas-2014" width="100">
        </div>

        <span>
          Mejor firma del año en Colombia 2012, 2013 y 2014. Negocio del año en financiación de proyectos en el continente Americano. 
        </span>
      </li>
  
  <li>
    <div class="img-container">
      <img src="/img/us_awards/chi-award01@2x.jpg" alt="" width="100">
    </div>
    <span><%= t("awards.cl_chambers_2013") %></span>
  </li>
  <li>
    <div class="img-container">
      <img src="/img/us_awards/co_chambers_2013.png" alt="" width="100">
    </div>
    <span><%= t("awards.co_chambers_2013") %></span>
  </li>
  


</ul>
</div>

<div class="item">
  <ul>
    <li>
      <div class="img-container">
        <img src="/img/us_awards/Chambers Latin America Awards 2013.jpg" width="100">
      </div>

      <span>Mejor firma del año en Colombia 2012, 2013.</span>
    </li>
    <li>
      <div class="img-container">
        <img src="/img/us_awards/internatioal-tax.jpg" alt="" width="100">
      </div>
      <span>Mejor firma colombiana del año en precios de transferencia 2012, 2013.</span>
    </li> 
    <li>
      <div class="img-container">
        <img src="/img/us_awards/IFLR.jpeg" width="100" alt="">
      </div>
      <span>Negocio del año en financiación de proyectos 2013.</span>
    </li> 
  </ul>

</div>

<div class="item">
  <ul>
    <li>
      <div class="img-container">
        <img src="/img/us_awards/latinlawyer.jpg" alt="" width="100">
      </div>
      <span>Negocio del año fusiones y adquisiciones 2012.</span></li> 
      <li>
        <div class="img-container">
          <img src="/img/us_awards/chambers-women.jpg" alt="" width="100">
        </div>
        <span>Mejor programa de mentoría en firmas de abogados en Colombia 2012.</span>
      </li> 
    </ul>
  </div>


</div>


<script id="us-title-template" type="text/x-handlebars-template">
  <h1><%= t("us") %></h1>
</script>

<!-- Controls -->
<a class="left carousel-control" href="#carousel-us-awards" role="button" data-slide="prev">
  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="right carousel-control" href="#carousel-us-awards" role="button" data-slide="next">
  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a>
</div>