<div id="carousel-us-quotes" class="carousel carousel-text slide" data-ride="carousel">

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <p>
      	"Great responsiveness and excellent understanding of the mining business."
      </p>
      <span> Chambers and Partners Latin America 2014</span>
    </div>

     <div class="item">
      <p>
        “the team understands what we need and is made up of great strategists. This is a very consolidated practice that deserves its top-tier ranking. " 
      </p>
      <span> Chambers and Partners Latin America 2014</span>
    </div>


 <div class="item">
      <p>
        "They offer us the added value of legal knowledge paired with an understanding of the practical realities of managing a business.
      </p>
      <span> Chambers and Partners Latin America 2014</span>
    </div>

     <div class="item">
      <p>
        "The firm exceeded my expectations. The lawyers provide in-depth analysis and keep your long-term goals in mind. They understand your industry, they are efficient and they deliver great quality."
      </p>
      <span>Chambers and Partners Latin America 2014</span>
    </div>

    <div class="item">
      <p>
        “The partner was involved and available 24/7 to assist us. We felt very well represented and supported throughout the process.”
      </p>
      <span>Chambers and Partners Latinamerica 2014 </span>
    </div>

    <div class="item">
      <p>
        “We feel entirely comfortable relying on their advice. Their answers are always presented in a way that is easily used by the client.”
      </p>
      <span> Chambers and Partners Latinamerica 2014 </span>
    </div>

    <div class="item">
      <p>
        “The team excels in client service and is highly aware of the complexities and commercial issues surrounding its client´s businesses. A key strength is that partners are directly involved in all matters.” 
      </p>
      <span> Chambers and Partners Latinamerica 2014 </span>
    </div>

    <div class="item">
      <p>
        “We feel supported by the firm and we consider it a strategic partner for or company. The lawyers are extremely committed and the partners are always available to discuss any issue.”
      </p>
      <span> Chambers and Partners Latinamerica 2014 </span>
    </div>

     <div class="item">
      <p>
        “The team has been able to provide guidance and advice quickly, stepping in and assisting in situations where we lacked inside counsel. I rank them highly on client service and commercial awareness.”

      </p>
      <span> Chambers and Partners Latinamerica 2014 </span>
    </div>

      <div class="item">
      <p>
       “We have the highest opinion of the firm:  they are always available and consistently deliver quality results even under extreme pressure. The lawyers are knowledgeable and display particularly strong business acumen.” 
      </p>
      <span> Chambers and Partners Latinamerica 2014 </span>
    </div>

     <div class="item">
      <p>
       “The firm offers a combination of top- notch service and sound advice delivered in a timely manner.”

      </p>
      <span>Chambers and Partners Latinamerica 2014 </span>
    </div>

     <div class="item">
      <p> "Sophisticated transactional firm with growth ambitions"</p>
      <span>Latin Lawyer 250, 2014</span>
    </div>
    <div class="item">
      <p>“Very devoted to clients, very sentitive to ther needs (and) wiling to go the extra mile.”</p>
      <span>Latin Lawyer 250, 2014</span>
    </div>
    <div class="item">
      <p>"Praised by clients for its “value added service” and the “very high quality” standards it maintains in getting work done well, on time and  at a fair price."</p>
      <span>Latin Lawyer 250, 2014</span>
    </div>
    
     <div class="item">
      <p>“They are always, at any time, ready to give us the support we need.”</p>
      <span>Latin Lawyer 250, 2014</span>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-us-quotes" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-us-quotes" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>