<% content_for :head do %>
 
  <title>Philippi Prietocarrizosa &Uría - Experiencia</title>
  <meta name="description" content="Conozca las transacciones que Philippi Prietocarrizosa & Uría ha asesorado y las compañías globales que hacen parte de su portafolio.">
  
  <meta property="og:title" content="Philippi Prietocarrizosa &Uría - Experiencia" /> 
  <meta property="og:description" content="Conozca las transacciones que Philippi Prietocarrizosa & Uría ha asesorado y las compañías globales que hacen parte de su portafolio." /> 

  <meta property="og:image" content="http://ppulegal.com/img/Logo@2x.png" />
<% end %>

<div id="experiences">
  
</div>
<div class="preload hidden" >Cargando...</div>
<%= render "/experiences/partials/filters" %>
<%= render "/experiences/partials/experiences" %>