<% content_for :head do %>

  <title>Philippi Prietocarrizosa Ferrero DU & Uría - Experiencia</title>
  <meta name="description" content="Conozca las transacciones que Philippi Prietocarrizosa & Uría ha asesorado y las compañías globales que hacen parte de su portafolio.">

  <meta property="og:title" content="Philippi Prietocarrizosa Ferrero DU & Uría - Experiencia" />
  <meta property="og:description" content="Conozca las transacciones que Philippi Prietocarrizosa Ferrero DU & Uría ha asesorado y las compañías globales que hacen parte de su portafolio." />

  <meta property="og:image" content="http://ppulegal.com/img/Logo@2x.png" />
<% end %>

<div id="experiences"> </div>

<div class="preload hidden" ><%= t('loading') %>...</div>

<!-- Templates -->
<%= render "/experiences/partials/filters" %>
<%= render "/experiences/partials/experiences" %>
