<div class="panel panel-default col-lg-9" id="post-create">
  <div class="panel-body"></div>
<button class="btn btn-store store">Guardar</button>
</div>


<script id="post-create-template" type="text/x-handlebars-template">
  <form action="">
      <div class="row">

    <div class="form-group col-lg-6">
      <select name="post[country]" class="form-control" id="">
       {{#if country}}
        <option value="{{country}}">{{country}}</option>
        {{else}}
         <option value="">Seleccionar País</option>
       {{/if}}
        
        <option value="Chile">Chile</option>
        <option value="Colombia">Colombia</option>
        <option value="Chile">España</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-lg-6">
        <input type="text" name="post[date]" placeholder="Fecha" value="{{ date }}" class="form-control datepicker">
    </div>
    <div class="form-group col-lg-6">
        <input type="text" name="post[author]" placeholder="Autor" value="{{ author }}" class="form-control">
    </div>
  </div>

   <div class="row">
    <div class="form-group col-lg-12">
        <input type="text" name="post[title]" placeholder="Título" value="{{ title }}" class="form-control">
    </div>
    <div class="col-lg-12 form-group">
      <div class="summernote">{{ content }}</div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-lg-3">
      <a href="#" class="btn btn-info btn-xl open-gallery">Seleccionar imagen</a>
    </div>

    <div class="form-group col-lg-6">
      <input type="file" class="form-control" name="post[img_name]" >
    </div>
  </div>

  <div class="row" id="lawyers-to-add">
    <div class="col-lg-6">
      <input type="text" class="form-control" placeholder="buscar abogado">
      <hr>
      <ul> </ul>
    </div>
  </div>
    <div class="row">
      <div id="categories-checkboxes">
        
      </div>
    </div>
    </form>  
</script>

<%= render "admin/galleries/post_header" %>