<script id="experience-admin-template" type="text/x-handlebars-template">
  <td> {{ company_name }} </td>
  <td> {{ title }} </td>
  <td>  {{#if translations}}
   <a href="en/admin/experiences/{{ translations.id }}/edit" class="btn btn-default btn-xs">
    <i class="fa fa-pencil-square-o"></i> Editar Traducción
   </a>
   {{else}}
    <a href="#" class="btn btn-default btn-xs translate"><i class="fa fa-globe"></i> Traducir</a> 
   {{/if}} 
   </td>
  <td>
   <a href="/admin/experiences/{{ id }}/edit" class="btn btn-default btn-xs edit">
   <i class="fa fa-pencil-square-o"></i> Editar</a>
  {{#if published}}
 	<a href="/admin/experiences/{{ id }}/edit" class="btn btn-success btn-xs unpublish">Publicado</a>
 	{{else}}
 	<a href="#" class="btn btn-default btn-xs publish">Publicar</a>
 {{/if}}	
  </td>
</script>

