<script id="experience-template" type="text/x-handlebars-template">

  <div class="img-container">
    {{#if gallery.img_name.url }}
    <img src="{{ gallery.img_name.url }}" alt="{{ title }}" >
    {{else}}
    <img src="{{ img_name.url }}" alt="{{ title }}" >
    {{/if}}
  </div>

  <div class="content">

    <div class="share-hover">
      <a href="/experiencias/{{slug}}"><h3><%= t('read_experience') %> +</h3></a>
      <h4><%= t('share') %>   <i class="fa fa-share-alt"></i></h4>

      <a class="share" href="https://twitter.com/intent/tweet?text={{ title }}&url=http://ppulegal.com/experiencias/{{ slug }}">
        <i class="fa fa-twitter-square"></i>
      </a>

      <a class="share" href="http://www.linkedin.com/shareArticle?mini=true&url=http://ppulegal.com/experiencias/{{ slug }}" onclick="javascript:window.open(this.href,
      '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" >
        <i class="fa fa-linkedin-square"></i>
      </a>

      <a class="share" href="https://plus.google.com/share?url=http://ppulegal.com/experiencias/{{ slug }}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
        <i class="fa fa-google-plus-square"></i>
      </a>

      <a class="share" href="#" onclick="javascript:openShare('http://ppulegal.com/posts/{{ slug }}')">
        <i class="fa fa-facebook-square"></i>
      </a>
  </div>

  <h3><a href="/experiencias/{{ slug }}">{{ title }}</a></h3>
  <p> {{shortenText2 excerpt }}</p>

  <div class="footer">
    <span class="country"><i class="fa fa-globe"></i> {{country}}</span>
    <span class="date"><i class="fa fa-calendar-o"></i> {{getYear date format="YYYY"}}</span>
  </div>

</div>
</script>
