<script id="experience-template" type="text/x-handlebars-template">
<div class="img-container">
 {{#if gallery.img_name.url }}
  <img src="{{ gallery.img_name.url }}" alt="{{ title }}" >
  {{else}}
   <img src="{{ img_name.url }}" alt="{{ title }}" >
 {{/if}}
</div>

<div class="content">
	<h3><a href="/experiencias/{{ slug }}">{{ title }}</a></h3>
	  <p> {{shortenText2 excerpt }}</p>
    <span class="country"><i class="fa fa-globe"></i> {{country}}</span>
	  <span class="date"><i class="fa fa-calendar-o"></i> {{getYear date format="YYYY"}}</span>
	  <a href="#" class="share" data-toggle="modal" data-target="#share-modal"><i class="fa fa-share-alt"></i> <%= t("share") %></a>
</div>
</script>