<script id="experience-detail-template" type="text/x-handlebars-template">
	<div class="experience-header">

		{{#if gallery.img_name.url }}
		<img src="{{ gallery.img_name.url }}" alt="{{ title }}" >
		{{else}}
		<img src="{{ img_name.url }}" alt="{{ title }}" >
		{{/if}}

		<span class="year">{{ country }} - {{getYear date format="YYYY"}}</span>

		<h1>{{ title }}</h1>

		<span class="company-name">{{ company_name }}</span>
		<span class="company-web"><a href="http://{{ company_web }}" target="_blank">{{ company_web }}</a></span>
	</div>

	<div class="content">
		{{{ content }}}
	</div>

</script>
