<script id="experience-template" type="text/x-handlebars-template">
<div class="img-container">
 {{#if gallery.img_name.url }}
  <img src="{{ gallery.img_name.url }}" alt="{{ title }}" class="hidden-xs">
  {{else}}
   <img src="{{ img_name.url }}" alt="{{ title }}" class="hidden-xs">
 {{/if}}
</div>

<div class="content">
	<h3><a href="/experiencias/{{ slug }}">{{ title }}</a></h3>
	  <p> {{shortenText2 excerpt }}</p>
	  <span class="date">{{dateFormat date format="D - M - YYYY"}}</span>
	  <a href="#" class="share" data-toggle="modal" data-target="#share-modal"><%= t("share") %> <i class="fa fa-share-alt"></i></a>
</div>

</script>