	{{#if lawyers}}

	<div class="relationship-title">
		<h3><%= t("Lawyers") %></h3>
	</div>

	<div class="lawyers-related">

		{{#each lawyers}}
			<div class="col-md-6 col-sm-6 col-xs-12 lawyer-item">

				<img src="{{ img_name.url }}" alt="{{ name }} {{ lastname }}" class="hidden-xs">

				<div class="content">
					<span class="position">{{ position }}</span>
					<h3><a href="/abogados/{{ slug }}">{{toUpperCase name }} {{toUpperCase lastname }}</a></h3>
					<a href="tel:{{ phone }}" class="phone">{{ phone }}</a>
					<a href="mailto:{{ email }}" class="email">{{ email }}</a>
				</div>

			</div>
		{{/each}}

	</div>
	{{/if}}
