
  <div id="header">
    <img src="/img/header.png" alt="">
  </div>
  <p>
    A partir del 1 enero de 2015 seremos la primera gran firma de abogados iberoamericana fruto de la unión de Philippi de Chile, prietocarrizosa de Colombia y  Uría de España.
  </p>
  <div class="logos">
    <ul>
      <li><a href="http://www.philippi.cl/" class="philippi" target="_new"></a></li>
      <li><a href="http://www.prietocarrizosa.com/" target="_new"></a></li>
      <li><a href="http://www.uria.com/en/index.html" class="uria" target="_new"></a></li>
    </ul>
  </div>

