<% content_for :head do %>
 <title>Philippi Prietocarrizosa &Uría - El estudio iberoamericano</title>
  <meta name="description" content="Firma con 14 áreas de práctica; Con oficinas en Chile, Colombia. España, Portugal, Sao Paulo, Nueva York, Pekín, Londres y Bruselas.">
  <meta property="og:title" content="Philippi Prietocarrizosa &Uría" /> 
  <meta property="og:description" content="Firma con 14 áreas de práctica; Con oficinas en Chile, Colombia. España, Portugal, Sao Paulo, Nueva York, Pekín, Londres y Bruselas." /> 
  <meta property="og:image" content="http://ppulegal.com/img/Logo@2x.png" />
<% end %>

<div id="posts-featured">
  
</div>
<div id="posts">
  
</div>

<%= render "/posts/partials/filters" %>
<%= render "/posts/partials/posts" %>