<% content_for :head do %>
 <title>Philippi Prietocarrizosa &Uría - El Actual Colombia</title>
  <meta name="description" content="Portal de la primera firma de abogados iberoamericana, fruto de la fusión de Philippi de Colombia, Prietocarrizosa de Colombia y Uría de España. Noticias y actualidad de temas legales. Firma con 13 áreas de práctica; Con oficinas en Chile, Colombia. España, Portugal, Sao Paulo, Nueva York, Pekín, Londres y Bruselas.">
  <meta property="og:title" content="Philippi Prietocarrizosa &Uría - Noticias" />
  <meta property="og:description" content="Portal de la primera firma de abogados iberoamericana, fruto de la fusión de Philippi de Colombia, Prietocarrizosa de Colombia y Uría de España. Noticias y actualidad de temas legales. Firma con 13 áreas de práctica; Con oficinas en Colombia, Colombia. España, Portugal, Sao Paulo, Nueva York, Pekín, Londres y Bruselas." />

  <meta property="og:image" content="http://ppulegal.com/img/Logo@2x.png" />

<% end %>

<div id="posts">
</div>

<%= render "/posts/partials/filters_the_current_co" %>
<%= render "/posts/partials/the_actual_co" %>
<%= render "/layouts/partials/messages" %>
