<% content_for :head do %>
 <title>Philippi Prietocarrizosa &Uría - <%= @post.title %></title>
  <meta name="description" content="<%= @post.excerpt.truncate(170) %>">
  <meta property="og:title" content="Philippi Prietocarrizosa &Uría - <%= @post.title %>" /> 
  <meta property="og:description" content="<%= @post.excerpt.truncate(170) %>" /> 
  <%if @post.gallery %>
  <meta property="og:image" content="<%= @post.gallery.img_name.url %>" />
  <% else %>
  <meta property="og:image" content="<%= @post.img_name.url %>" />
  <% end %>
<% end %>

<div id="post-detail"></div>

<div class="related-title hidden"><h3><%= t("News") %> <%= t("related")%></h3></div>  

<div id="posts-related"> </div>
<%= render "/posts/partials/posts" %>
<%= render "posts/partials/detail" %>