<% content_for :head do %>
 <title>Philippi Prietocarrizosa Ferrero DU & Uría - Áreas de práctica</title>
  <meta name="description" content="Áreas de práctica: Bancario, Financiero y Mercado de Capitales, Clientes Privados y Familia, Competencia, Corporativo / M&A, Derecho Público, Energía, Minería y Recursos Naturales, Impuestos y Comercio Internacional, Infraestructura y Proyectos, Inmobiliario, Laboral, Propiedad Intelectual / Ciencias de la vida, Resolución de Conflictos, Telecomunicaciones.">
  <meta property="og:title" content="Philippi Prietocarrizosa Ferrero DU & Uría - Áreas de práctica" /> 
  <meta property="og:description" content="Áreas de práctica: Bancario, Financiero y Mercado de Capitales, Clientes Privados y Familia, Competencia, Corporativo / M&A, Derecho Público, Energía, Minería y Recursos Naturales, Impuestos y Comercio Internacional, Infraestructura y Proyectos, Inmobiliario, Laboral, Propiedad Intelectual / Ciencias de la vida, Resolución de Conflictos, Telecomunicaciones." />

  <meta property="og:image" content="http://ppulegal.com/img/Logo@2x.png" />

<% end %>

<div id="categories"></div>

<%= render "categories/partials/category" %>
