<div class="not-found hidden"><%= t('results_not_found') %> / <button onclick="goBack()" class="btn btn-xs"><%= t('return') %></button></div>

<div class="preload hidden" >
<div class="loader-inner ball-pulse">
  <div></div>
  <div></div>
  <div></div>
</div>
</div>