<!DOCTYPE html>
<html>
<head>
  <title>Panel Administrativo ppulega.com</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="/img/favicon.png" />
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="/css/bootstrap.min.css">

  <link href='/css/dist/theme.css' rel='stylesheet' type='text/css' media="screen, print">

  <link rel="stylesheet" href="/node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css">
  <link rel="stylesheet" href="/bower_components/toastr/toastr.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/bower_components/summernote/dist/summernote.css">
  <link rel="stylesheet" href="/bower_components/summernote/dist/summernote-bs3.css">
  <link rel="stylesheet" href="/bower_components/nprogress/nprogress.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
  <link rel="stylesheet" href="/node_modules/quill/dist/quill.base.css">
  <link rel="stylesheet" href="/node_modules/quill/dist/quill.snow.css">
  <link rel="stylesheet" href="/css/default.css">
  <style>
  .form-control:focus {
    border: none !important
  }

  .btn{
    color: #333;
  }

  .btn-success {
    color: #fff;
  }

  .btn-info {
    color: #fff;
  }

  .panel-heading {
    padding-bottom: 0;
  }

  .active {
    color: #0299A8 !important;
    border-left: 3px solid #0299A8;
    font-weight: bold;
  }
  </style>

  <%= csrf_meta_tags %>

  <style>

    body{
      padding-top: 77px;
    }

    #nprogress .bar{
      background: #fff;
    }

    #nprogress .spinner-icon{
      border-top-color: #fff;
      border-left-color: #fff;
    }
  </style>

</head>
<body id="ppu-admin">
 <nav class="navbar navbar-admin navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><span>|</span> Panel Administrativo <span>ppulegal.com</span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav visible-xs visible-sm">
        <li><a href="/dashboard">Abogados</a></li>
        <li><a href="/admin/lawyers/new">Crear Abogado</a></li>
        <li><a href="/admin/posts2">Noticias</a></li>
        <li><a href="/admin/posts/new">Crear Noticia</a></li>
        <li><a href="/admin/experiences">Experiencia</a></li>
        <li><a href="/admin/experiences/new">Crear Experiencia</a></li>
        <li><a href="/admin/the-actual">El actual</a></li>
        <li><a href="/admin/the-actual/new">Crear Noticia El actual</a></li>
        <li><a href="/admin/nosotros">Nosotros</a></li>
        <li><a href="/admin/probono">Probono</a></li>
        <li><a href="/admin/trabaje-con-nosotros">trabaje con nosotros</a></li>
        <li><a href="/users/sign_out">Salir</a></li>

      </ul>


    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div id="admin-sidebar" class="sidebar hidden-xs hidden-sm"></div>

<div class="wrap" id="wrap">
  <%= yield %>
</div>

  <script src="/js/dist/dependencies-admin.js"></script>
  <script src="/js/fb.js"></script>
  <script src="/js/dist/app-admin.js"></script>
  <script src="/js/dist/admin-react.js"></script>

 <script>
    app.lang = "<%= I18n.locale %>";
    app.hostname = window.location.hostname;
    app.pathname = window.location.pathname;
  </script>

</body>
</html>
