<!DOCTYPE html>
<html>
<head>
  <title>Ppu</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/libs/bootstrap.min.css">
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
<a href="?lang=en">EN</a>
<%= yield %>
</div>
<%= render "lawyers/partials/lawyers" %>
<script src="/js/libs/bootstrap.min.css"></script>
</body>
</html>
