<!DOCTYPE html>
<html>
<head>
  <title>Ppu</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/coming.css">
  <%= csrf_meta_tags %>
</head>
<body id="ppu-admin">
 
<div class="container">
  <%= yield %>
</div>

  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

 


</body>
</html>
